[2016-02-05 20:16] tnguyen14 opened #3 "colors not showing up"
I added the colors for `diff-highlight` in my `.gitconfig` as instructed, however the output of `git diff | diff-highlight` does not output any colors.

Could there be something that I am missing here?

[2016-02-08 10:14] paulirish opened #4 "publish new npm version"
to fix the readme ugliness. :)

![image](https://cloud.githubusercontent.com/assets/39191/12882936/c6b0eb54-ce4c-11e5-8eb1-abf6e2c0ceb0.png)

[2016-02-08 10:16] paulirish opened #5 "clean up inline docs from so-fancy script"
Now that it's in a real readme, maybe you want to clean out the inline docs.

you can definitely remove the TODO about npm, since you did that. :)

[2016-02-08 10:18] stevemao commented on #4
diff-so-fancy@0.1.0

[2016-02-08 10:18] #4 closed

[2016-02-08 10:19] stevemao commented on #4
I have added you to npm :)

[2016-02-08 10:21] #5 closed

[2016-02-08 10:32] paulirish commented on #5
ooh! and thanks for adding me to the repo!

 didn't realize that, so i just committed a change to the readme, when i thought it was going to make a PR. :)

[2016-02-08 10:33] stevemao commented on #5
Sure, this is your project. Your also the owner on npm :)

[2016-02-08 10:50] paulirish opened #6 "Hard dependency on diff-highlight from diff-so-fancy"
Maybe we should just depend on `diff-highlight` from inside of `diff-so-fancy`.

That would mean people instead configure it with `git diff | diff-so-fancy` directly.

If `diff-highlight` isn't found, we could just pass through the `stdin` and perhaps issue a warning that says "hey you're missing diff-highlight bud"

Seems a little more user-friendly. wdyt?

[2016-02-08 10:55] stevemao commented on #6
:+1: Ideally I don't wanna maintain `diff-highlight`. Wish we could reference that dependency from the official git repo somehow.

[2016-02-08 12:48] aziz opened #7 "Encoding issue or broken sed command"
<img width="231" alt="screen shot 2016-02-08 at 1 45 13 pm" src="https://cloud.githubusercontent.com/assets/3202/12885973/788ea5c4-ce6a-11e5-85eb-2720a00bd7ad.png">

I tried many other fonts in my iTerm terminal.

Interestingly, in Mac Terminal I get an error like this:

[code]

[2016-02-08 12:53] stevemao commented on #3
`git diff --color | diff-highlight` should work.
But I use `git config --global core.pager "diff-highlight | diff-so-fancy | less -r"` so any diff related commands will use `diff-so-fancy` :)

[2016-02-08 12:53] #3 closed

[2016-02-08 14:10] tnguyen14 commented on #3
Thank you. Using the `--color` flag worked.

When I tried the config to setting `core.pager` as you suggested, I see an issue with indentation being off, as such:

[code]

[2016-02-08 14:22] stevemao commented on #3
Can you open another issue if it's not related to your original one? It would be helpful if you could include a screenshot. Thanks.

[2016-02-08 14:25] tnguyen14 opened #9 "indentation seems to be off when configuring the pager"
When I use the pager config for any diff related command (`git config --global core.pager "diff-highlight | diff-so-fancy | less -r"`), the indentation seems to be off.

<img width="715" alt="screen shot 2016-02-08 at 8 23 46 am" src="https://cloud.githubusercontent.com/assets/1652595/12887997/67d85838-ce3d-11e5-86f7-672e7b8ed235.png">

This does not seem to happen if I just do `git diff | diff-hi

[2016-02-08 15:13] paulirish commented on #6
yeah understood.
i dont know of an easy way.

I just explored trying to use diff-highlight from the machine, but i'm not sure how to do that on non-homebrew installs.

tbh, the simplest looks to be just writing a stupid script to pull the latest diff-highlight from the git repo every once in a while. it doesnt change a lot so no biggie.

[2016-02-09 10:27] noscript commented on #7
Sed errors aren't related to the encoding. To fix encoding issue I suggest to switch from `tr` to `sed` in `print_horizontal_rule()`:

[code]

[2016-02-09 10:55] aziz commented on #7
I confirm that this change proposed by @noscript  has actually fixed my issue. making it into a pull request.

[2016-02-09 11:42] #7 closed

[2016-02-09 13:22] noscript commented on #9
You need to tell less the tab stops:

[code]

[2016-02-09 13:28] stevemao commented on #7
@noscript What's your npm name? I'll add you :)

[2016-02-09 13:31] noscript commented on #7
~noscript :) just registered

[2016-02-09 13:42] stevemao commented on #7
Thanks all for your contribution!

[2016-02-09 14:12] tnguyen14 commented on #9
@noscript that solved the issue. Thank you.

[2016-02-09 14:12] #9 closed

[2016-02-09 14:13] stevemao commented on #9
@noscript should we change the readme?

[2016-02-09 14:15] noscript commented on #9
just did :)

[2016-02-09 14:17] stevemao commented on #9
Thanks :)

[2016-02-09 16:34] scottchiefbaker opened #12 "Changing the "meta" color reverts the divider to the default style"
I'm using the suggested defaults (see below) and I wanted to change the `meta` color to just yellow (not bold). Setting it to `yellow` gives me a brownish color, so I used `11` instead. This gives me the color I want, but reverts the style of the header to the old raw diff style.

[code]

[2016-02-09 19:03] sotojuan opened #14 "Support a different installation method"
npm is fine for us who do a lot of JS, but it's not convenient for people who don't. This project uses no JavaScript, so it really has no hard dependency on npm.

It'd be great if you could install this in a different, more common way.

[2016-02-09 19:25] mirceal commented on #14
xcopy?

[2016-02-09 19:26] paulirish commented on #12
before/after screenshots plz?

[2016-02-09 19:33] aziz commented on #14
I agree. npm feels wierd for distributing a bunch of shell scripts. I feed sick in my stomach specially because it reminds of those people who are attacking npm because it contains a whole bunch of shit.

But do you have any suggestion that is as cross platform and as easy as npm for distributing these scripts, making them executable and put them on the path?

[2016-02-09 19:58] rjc commented on #14
The content is on `GitHub` so the "distribution method" is `git` itself, no?

Installation? Err... `cp` or `ln` - `install` at most. `make` would have been an overkill :^)

[2016-02-09 19:59] paulirish commented on #14
I just added manual install instructions: https://github.com/stevemao/diff-so-fancy/blob/master/readme.md#manual-install

They could probably still use some work...

What should I change about them?

[2016-02-09 20:02] paulirish commented on #14
My [previous install directions](https://github.com/paulirish/dotfiles/blob/master/bin/diff-so-fancy#L23-L24) recommended dropping this into `~/bin` under the assumption people had that in their PATH.

@sotojuan @aziz Should I spell that out or the current wording is decent?

Current wording, for reference:

[2016-02-09 20:05] paulirish commented on #6
here's my proposal in #13

[2016-02-09 20:07] aziz commented on #14
For me as Mac and Linux user It's pretty clear. I don't know how a Windows user feels about it. I still can't remember how to manipulate the PATH in Windows :cold_sweat:

[2016-02-09 20:13] aziz commented on #12
Did you try to put qoutes around it
[code]
It still does not fix the issue completely but that's another story
<img width="387" alt="screen shot 2016-02-09 at 9 12 55 pm" src="https://cloud.githubusercontent.com/assets/3202/12929227/e9bafe0c-cf71-11e5-8d1b-3eb73aad9512.png">

[2016-02-09 20:25] paulirish commented on #14
Cool. @sotojuan I'll wait until you give the :+1: before we close this issue.

[2016-02-09 20:30] sotojuan commented on #14
Looks good to me! Thanks for the quick response 👍🏼.

[2016-02-09 20:40] paulirish commented on #14
cheers

[2016-02-09 20:40] #14 closed

[2016-02-09 21:07] scottchiefbaker commented on #12
With `meta = yellow bold`

![one](https://cloud.githubusercontent.com/assets/3429760/12930578/f2308758-cf2d-11e5-883d-d63da1eaf222.png)

With `meta = 11`

![two](https://cloud.githubusercontent.com/assets/3429760/12930577/f19d13c4-cf2d-11e5-9fa0-3dbc9fb0c01f.png)

[2016-02-09 21:17] cht8687 opened #15 "why it is a NPM install?"

[2016-02-09 21:30] maxpblum opened #16 "No way of showing added or removed empty lines?"
Thanks so much for this awesome tool! Is there a way to make it show added or removed empty lines? I see the added space from the new lines in my diff, but they aren't highlighted at all. (I installed it on OS X, following your instructions to a tee, including all of your suggested changes to my Git config.)

[2016-02-09 21:34] noscript commented on #16
take a look at #11

[2016-02-09 21:36] maxpblum commented on #16
Amazing!

On Tue, Feb 9, 2016, 4:34 PM Sergey Vlasov <notifications@github.com> wrote:

[2016-02-09 21:37] #16 closed

[2016-02-09 21:44] simevidas opened #17 "Incorrectly highlighted lines on Windows"
I've set up the tool using the instructions from the README (npm install, then set core.pager value). I've run a test diff and the *first code line of each file* is incorrectly highlighted and colored:

![capture](https://cloud.githubusercontent.com/assets/716405/12931455/3f61118c-cf7e-11e5-97b1-408ded3c6543.PNG)

Also, the headers are white instead of yellow, but that's a minor issue.

My environ

[2016-02-09 21:45] stevemao commented on #15
Me and Paul also answered this on HN.
I see a lot of projects that's written in other languages on npm, especially bash. Substack even published c code to npm. I think it makes the script more accessible especially for nodejs users. I don't mind publishing it to other package mangers.
Me myself is a JavaScript developer, so I started with npm. Contributions welcome for publishing it to other packa

[2016-02-09 21:58] BMayneFactual opened #18 "readme instructions for setting global config misleading"
I'm not an expert on git config manual editing, but adding

`git config --global core.pager "diff-highlight | diff-so-fancy | less --tabs=1,5 -R"` to my git config on mac was invalid.

Running `git config --global core.pager "diff-highlight | diff-so-fancy | less --tabs=1,5 -R"`, however, added this line under core

[code]

[2016-02-09 22:02] noscript commented on #17
Try removing `colorize_context_line`:

[code]

@stevemao what `colorize_context_line` is actually for? Can we colorize the context part via `color.diff.frag`?

[code]

[2016-02-09 22:09] noscript commented on #18
Indeed, it's a bit confusing.

[2016-02-09 22:10] #18 closed

[2016-02-09 22:12] stevemao commented on #17
CC @paulirish

[2016-02-09 22:13] stevemao commented on #15
I hope it makes sense. Closing now.

[2016-02-09 22:13] #15 closed

[2016-02-09 22:33] simevidas commented on #17
@noscript Thanks. Looks fine now, after removing `colorize_context_line`:

![capture](https://cloud.githubusercontent.com/assets/716405/12932829/362cade0-cf85-11e5-96d8-37cf4cee448e.PNG)

[2016-02-09 22:47] stevemao commented on #17
@noscript `colorize_context_line` is probably just to make it prettier.

[2016-02-10 00:07] paulirish commented on #18
good call. my bad :)

[2016-02-10 00:08] paulirish commented on #17
tbh colorizing the context line is totally optional. i just wanted the foreground color of the context line to be different than the default (white) text.

[2016-02-10 00:12] OJFord opened #21 "Create and submit a brew formula"
Repo more than meets the star/fork requirements. Most Mac users would probably prefer a pure-brew install than a brew+npm install.

`brew install gnu-sed --with-default-names && npm install -g diff-so-fancy` would become `brew install diff-so-fancy`. You could even include the `git config`uration in the formula.

[2016-02-10 00:14] stevemao commented on #21
I think homebrew is already available but not pointing to this repo.

[2016-02-10 00:15] OJFord commented on #21
Do you know the name? I don't get any results for `brew search diff-so-fancy`.

[2016-02-10 00:17] paulirish commented on #21
yah i'm not seeing it either.

![image](https://cloud.githubusercontent.com/assets/39191/12935110/6c0988c4-cf8b-11e5-9d90-2c9bdba364ac.png)

I'm OK with having this available via homebrew, though i've never maintained a brew package before. seems likely higher friction pushing to npm.

[2016-02-10 00:18] paulirish commented on #21
@OJFord i dont think we'd get the `default-names` applied if we set it as a dependency. So we'd have to rely on `gsed` and sniff for that first. Slightly more complicated, but probably fine.

[2016-02-10 00:21] OJFord commented on #21
@paulirish Hmm, good point, I've never tried to do anything analagous so I couldn't say either way for sure.

As a workaround though, it could be done in the `install` block with a `system` call. I expect (hope) brew maintainers would be happy with that until an alternative exists though.

[2016-02-10 02:24] prat0318 opened #22 "Have a way to switch between old way of `git diff` and the new one"
Sometimes, i do want to get a patch from `git diff`. Is there an easy way to do that once i have turned on `diff-so-fancy` git config?

[2016-02-10 02:35] stevemao commented on #22
[code]

[2016-02-10 04:18] OJFord commented on #21
Oh! I thought of a better solution: you could use [inreplace](https://github.com/Homebrew/homebrew/blob/master/share/doc/homebrew/Formula-Cookbook.md#inreplace) to change instances of `sed` in the script to `gsed`; then the dependency needs no flags, right?

[2016-02-10 04:18] anshul commented on #21
Or something like this could work? - https://github.com/stevemao/diff-so-fancy/pull/25

[2016-02-10 04:21] OJFord commented on #21
@anshul That might be more robust. If the brew install with default name flag doesn't alias `gsed` as well then I suppose my above suggestion fails if `gnu-sed` already installed.

[2016-02-10 05:56] stringbeans opened #26 "Can't use the arrow keys to scroll up/down during the diff"
Not sure if this is even fixable since you're piping the output but it would be nice :)

[2016-02-10 06:01] stevemao commented on #26
Doesn't happen on my machine. I believe it's related to your [`core.pager`](https://git-scm.com/book/en/v2/Customizing-Git-Git-Configuration)

[2016-02-10 08:15] paulirish commented on #22
There's probably a less destructive way. I'm curious as well. Let's document a decent solution in the readme

[2016-02-10 08:27] stevemao commented on #6
Found a problem in #13 (sorry didn't find it earlier). We assume the `diff_highlight` path is `./third_party/diff-highlight/diff-highlight` which might not be the case. `npm link` won't work. Documentation

Place them in a location that is in your PATH.

Is incorrect.
We don't really know the path of our hard dependency `diff-highlight`

[2016-02-10 08:32] lode opened #28 "Unable to quickly select a filename"
When double clicking the filename the `a/` or `b/` is copied along. It would be great to remove that, or separate it with a space, or add the plain filename as a separate line as well, to be able to support this use case.

[2016-02-10 08:33] stevemao commented on #6
Maybe we just use `which diff-highlight`?

[2016-02-10 08:35] stevemao commented on #28
I like the idea :)

[2016-02-10 09:07] noscript commented on #28
There is an argument in `git diff`:
[code]

[2016-02-10 09:18] stevemao commented on #28
Indeed. @lode does it work for you?

[2016-02-10 09:24] paulirish commented on #22
Easy enough!  `git --no-pager diff`  :)

[2016-02-10 09:28] #22 closed

[2016-02-10 09:35] paulirish commented on #28
@lode good usecase. i found myself using the click more and more often. :)

Since we already broke the patch format, there's no reason for us to preserve `a/` and `b/`, TBH. :)

Let's remove or improve it from our `format_diff_header` formatting.

[2016-02-10 09:38] stevemao commented on #28
True, we are already hacking a lot. We'll just keep hacking I guess :)

[2016-02-10 09:50] paulirish commented on #28
Cool. I'm preparing a short-term fix for this..  however

<hr>

Here's probably my ideal for these:

* If the two filenames are the same (the common case), then it doesnt need two lines. it could collapse and prefix with `modified: `
* If it's a new file we identify and denote that.
* etc.

### Current behavior:
[code]

### Proposed behavior:
[code]

how does this sound?

[2016-02-10 09:53] noscript commented on #28
How will you handle renames:
[code]

Doesn't `--no-prefix` do the job?

[2016-02-10 10:12] paulirish commented on #28
@noscript ideally, we do "moved: ". Certainly requires a few lines of work to pull it off.

`--no-prefix` is can only be applied on the  `git diff` command so it's not something we can do on our side.

And I'm arguing that preserving `a/` and `/b/ in our output doesnt have value, and supporting cmd-click is more worthwhile. So we might as well translate these odd prefixes to something that makes s

[2016-02-10 10:15] noscript commented on #28
I wonder if there really a need to do something that can be achieved out-of-the box by git.

Besides, messing with prefixes will break `git diff` output for those who do use `--no-prefix` already.

[2016-02-10 10:17] paulirish opened #32 "Test suite"
I think it's time for us to add proper unit tests.

I haven't seen a test suite for a project like this before, but it shouldnt be too bad. I'm thinking a folder of input text files, with ANSI escapes and all. And a folder of expected output. Seem right?

Is there a test runner that'd work well for us?

[2016-02-10 10:21] stevemao commented on #32
:+1: , to **hard** to test manually!

[2016-02-10 10:41] paulirish commented on #32
Ah, I now remember https://github.com/sstephenson/bats This seems close to ideal. :)

[2016-02-10 13:34] mhinz commented on #12
Yea, it seems to only take color numbers 0 - 8 into account.

[2016-02-10 15:21] mrageh opened #35 "Git add --patch does not use diff-so-fancy"
Hi

Not sure if this is the correct place for this issue.

Just started using this npm package and it's great, it makes reading diffs in my terminal great.

However when I use `git add --patch` it uses the old style diff to display each chunk that's about to be staged.

Is `git add --patch` not supposed to use `diff` under the hood, which is now `diff-so-fancy`?

Is there anything we can do to use

[2016-02-10 17:47] chubas commented on #26
Same issue, I lose paging capabilities when using it. Workaround is to add a ` | less -R` on the git alias.
My pager is set to `less -FRSX` which seems to be pretty standard.

[2016-02-10 19:23] paulirish commented on #35
Someone else pinged me about this a month ago. I'm not sure.

Based on https://github.com/git/git/blob/master/git-add--interactive.perl#L747-L768 it doesn't look good.

But i'd love to be proven wrong. There's a lot of mention of color in here, so there may be SOME configurability, but not sure if we can intercept with a pager or something.

[2016-02-10 19:25] paulirish commented on #35
There's some other people who were poking around this:

http://www.nickcoding.com/2014/10/30/making-git-prose-friendly/
http://git.661346.n2.nabble.com/Different-diff-strategies-in-add-interactive-td7588815.html

.. which my unveil some solutions.

[2016-02-10 20:44] xixixao commented on #6
Why not just let people install and pipe themselves?

[code]

[2016-02-10 21:38] stevemao commented on #6
We want to load diff-hight internally in diff-so-fancy.

[2016-02-11 00:27] stevemao commented on #26
@chubas @stringbeans The readme already mentions `git config --global core.pager "diff-so-fancy | less --tabs=1,5 -R"`, this should work?

[2016-02-11 00:27] #26 closed

[2016-02-11 03:51] paulirish commented on #32
I attempted to get this going, but it's a bit tougher than expected.

For anyone curious, this points to the most mature assertion set for use with bats: https://github.com/sstephenson/bats/pull/110#issuecomment-182158121

I believe that Bats struggles with the combination of multiline output, ansi colors and empty newlines. As such, I haven't been able to target specific lines in the output, only

[2016-02-11 08:03] #6 closed

[2016-02-11 09:42] stevemao opened #40 "Release v0.2.0"
We've done an **amazing** job so far! Thank you everyone :smile:

* readme: clarity on diff-highlight & other readability improvements ([1b4194a](https://github.com/stevemao/diff-so-fancy/commit/1b4194a))
* readme: manual install ([21ffc64](https://github.com/stevemao/diff-so-fancy/commit/21ffc64))
*  diff_highlight should be relative to the source instead of cwd ([ded0b09](https://github.com/stev

[2016-02-11 12:53] JacobEvelyn opened #41 "Inline changes not inline"
I'm not able to see inline changes as advertised in the README:

<img width="303" alt="screen shot 2016-02-11 at 7 51 11 am" src="https://cloud.githubusercontent.com/assets/1114569/12976762/6a064788-d094-11e5-964a-232d617b6266.png">

I believe this should be just one line, but it's showing up as two. I'm on OS X using zsh as my shell if that matters.

[2016-02-11 13:07] paulirish commented on #41
@jacobevelyn do me a favor:

[code]

and paste the results into a comment here.

[2016-02-11 19:33] jamischarles opened #42 "Current git config instructions clobbers `git log`"
`git config --global core.pager "diff-so-fancy | less --tabs=1,5 -R"`

This highjacks things like `git log`, and other commands locally for me. Is there a non-destructive way of doing this? If not, I'd suggest showing how to alias it in bash instead of adding it to the gitconfig.

[2016-02-11 20:32] mikezuff commented on #41
I had the same symptom. npm had installed an older version of diff-so-fancy. Downloading directly fixed it.

[2016-02-11 22:06] stevemao commented on #41
https://github.com/stevemao/diff-so-fancy/issues/40

[2016-02-11 22:07] mrageh commented on #35
Thanks for the swift response @paulirish, would it be worth leaving this issue open or do you think we should close it?

[2016-02-12 08:42] haoyangnz opened #43 "Remove the duplicate line"
When text is added/removed in a line, why not just show the added/removed part instead of a removed original line and a new line?

[2016-02-12 09:01] noscript commented on #43
Use `git diff --color-words`.

[2016-02-12 09:02] haoyangnz commented on #43
Would be good if this was in the readme

[2016-02-12 09:03] noscript commented on #42
Use `diff-so-fancy` for `show` and `diff` pagers only:
[code]

[2016-02-12 09:05] noscript commented on #43
It's in git manual. Readme cannot cover every git use case.

[2016-02-12 09:06] haoyangnz commented on #43
Ah sorry - I thought it was a diff-so-fancy flag. Wasn't aware of the git flag.

[2016-02-12 09:18] haoyangnz commented on #43
--color-words doesn't actually attempt to detect word changes, it just joins the deleted line and the added line. I was hoping diff-so-fancy attempts to detect the portion of text that was modified.

Would this be considered or am I better off doing it in a fork?

[2016-02-12 09:19] noscript commented on #43
You are certainly welcome to do a pull request.

[2016-02-12 09:52] teroyks opened #45 "Highlight works in diff-highlight, does nothing in diff-so-fancy"
Any idea why diff-so-fancy fails to highlight changes when diff-highlight works just fine (see attached screenshot)? Right after installing (with npm), no changes to default configs. (I'm on Centos 6.7)

![screen shot 2016-02-12 at 11 44 18](https://cloud.githubusercontent.com/assets/2240765/13003582/0901fc8e-d17f-11e5-94e1-530e668e5d56.png)

[2016-02-12 10:00] filipedeschamps opened #46 "Is this module being updated in npm?"

[2016-02-12 10:04] djui opened #48 "Join forces with diff-ss"
[diff-ss](https://github.com/djui/diff-ss) is the side-by-side diff version of git diff. It would be nice to join both (all three together with `diff-highlight`) to make the ultimate terminal diffing experience! :sunglasses:

Disclaimer: of course this is a shameless plug from the author...

[2016-02-12 10:05] vanniktech commented on #46
:+1:

[2016-02-12 10:09] aziz commented on #40
let's release more often.

[2016-02-12 10:55] stevemao commented on #45
The readme here is out of sync with the released one. Let me make a release soon.

[2016-02-12 10:55] #45 closed

[2016-02-12 10:55] stevemao commented on #46
Will do now.

[2016-02-12 10:55] #46 closed

[2016-02-12 11:00] stevemao commented on #40
released now :)

[2016-02-12 11:00] #40 closed

[2016-02-12 11:01] stevemao commented on #41
I made a new release. Let me know if you still have the same issue and we can reopen.

[2016-02-12 11:01] #41 closed

[2016-02-12 11:06] stevemao commented on #48
Personally I don't like side by side diff. I never use GitHub's split view.

[2016-02-12 11:25] teroyks commented on #45
The culprit seems to be the npm-installed version. The latest version works.

[2016-02-12 11:37] vanniktech commented on #40
How can I update it to the latest version?

[2016-02-12 11:38] stevemao commented on #40
`npm install -g diff-so-fancy`

[2016-02-12 11:38] stevemao commented on #40
Pretty much just reinstall it.

[2016-02-12 11:39] vanniktech commented on #40
I tried this one already and I got:

npm ERR! argv "/usr/local/Cellar/node/5.6.0/bin/node" "/usr/local/bin/npm" "install" "-g" "diff-so-fancy"
npm ERR! node v5.6.0
npm ERR! npm  v3.6.0
npm ERR! path /usr/local/bin/diff-highlight
npm ERR! code EEXIST
npm ERR! Refusing to delete /usr/local/bin/diff-highlight: ../lib/node_modules/diff-so-fancy/diff-highlight symlink target is not controlled by npm /u

[2016-02-12 11:40] stevemao commented on #40
That's an `npm` issue. I suggest you try `sudo` and search for `npm help.

[2016-02-12 12:07] jenssegers opened #49 "Sed error: bad flag in substitute command"
I'm getting this error when I try diff-so-fancy:

[code]

[2016-02-12 12:10] stevemao commented on #49
If you downgrade to version `0.1` does it work?

[2016-02-12 12:12] jenssegers commented on #49
Version 0.1 works yes :)

[2016-02-12 12:23] stevemao commented on #49
Try reverting 6be25ee5508c06987cadff415f6d181e53e031a1?

[2016-02-12 12:30] djui commented on #48
Alright, no worries.

[2016-02-12 12:30] #48 closed

[2016-02-12 16:03] vjdhama commented on #49
Had the same issue and I think I've figured out the issue. I think @jenssegers is using a system(maybe osx) with no `gnu-sed` installed. As suggested in readme, if you're on OSX `brew install gnu-sed` might solve the issue.

[2016-02-12 16:24] chris-erickson commented on #49
Confirmed @vjdhama 's fix.  You'll get a shadow `sed` named `gsed` using the homebrew steps and then it'll work.

[2016-02-12 17:40] dholdren commented on #49
`brew install gnu-sed` is definitely the fix (as documented in the README)
maybe the script could detect the error and output the instructions?

[2016-02-12 18:00] kergoth commented on #43
--color-words destroys the changed word highlighting done by diff-highlight. Am I missing something? How can you get the joined removed/added lines in a modification case while retaining the nice diff-so-fancy/diff-highlight highlighting?

[2016-02-12 20:10] paulirish commented on #35
Leave it open. It still requires some research to see if it's possible or not.

[2016-02-12 20:12] #42 closed

[2016-02-12 20:18] paulirish commented on #28
Perhaps we should recommend setting `git config --global diff.noprefix true` to our users who are interested in this feature.

[2016-02-12 20:27] paulirish commented on #43
Agree, as @kergoth says, `--color-words` an alternative to using diff-highlight.  In my experience, it provides an inferior view of the changes.

It shines when diff'ing prose, but is generally worse for code. It's something I use on occasion, and it should be left to the user to decide.  (Until diff-so-fancy starts picking the best diff algorithm/tokenizing based on the text contents :)

We could

[2016-02-12 20:27] #43 closed

[2016-02-12 20:31] paulirish commented on #49
We'd like to remove the dependency on gnu-sed, to be honest. Would be pleasant to not have to require it.

@xixixao @aziz Can you help to make the script compatible with OSX sed?

(The only reason it's not already is because I'm lazy and gnu-sed worked out of the box for the regex I wrote here. :)

[2016-02-12 20:49] jamischarles commented on #42
:tada:

[2016-02-12 21:06] lode commented on #28
I didn't know about the `--no-prefix`, that helps for sure. But, as you also noted @paulirish, the whole idea of two lines is a bit strange. When it can also be presented in a single line with a meaningful prefix like `added`, `moved`, etc.

[2016-02-12 22:32] xixixao commented on #49
Well, OS X sed sucks. I think we could use perl instead, looks like it's even faster than sed. I'm not a shell expert to tell whether there are any drawbacks to it.

[2016-02-13 00:43] augbog commented on #49
:+1: would be nice if GNU-sed wasn't a requirement

[2016-02-13 01:23] #32 closed

[2016-02-13 11:13] stevemao commented on #17
@simevidas Can you try #56?

[2016-02-13 17:19] gfpacheco commented on #26
I fixed it by removing the `X` from the less flags on the instructions:

    git config --global pager.diff "diff-so-fancy | less --tabs=1,5 -RF"
    git config --global pager.show "diff-so-fancy | less --tabs=1,5 -RF"

[2016-02-13 18:48] simevidas commented on #17
@stevemao The background’s gone (good!), but the font color is now magenta instead of white:

![foo](https://cloud.githubusercontent.com/assets/716405/13029363/951a6092-d28a-11e5-89df-8e970618e374.png)

[2016-02-13 21:32] paulirish commented on #17
@simevidas ya. that's intentional. Purple'd so that you can differentiate the context vs the plain code. That's what's intended.

[2016-02-13 21:38] paulirish commented on #28
Sg. I think we can document the flag and global config for now.

And then long-term work towards a clearer header with `added/moved/changed`. I hesitate to do that work without a more substantial parsing setup, though.

[2016-02-13 21:39] paulirish commented on #28
@lode can you give us a PR for the `git config --global` line added to the readme?

[2016-02-13 21:41] paulirish commented on #12
Gotcha. This is a good bug, and something we can now add a test for.

If anyone wants to take a look, you're more than welcome!

[2016-02-13 21:58] paulirish opened #57 "Tests required"
We're lacking tests for a few areas. Let's use this ticket to track them.

* [x] diff-highlight path is resolved on a manual install
* [ ] diff-highlight path is resolved when it's already in the PATH
* [ ] diff-highlight path is resolved with a more complex symlink setup (homebrew install or nvm'd npm install)
* [x] works without extra gnu-sed dependency (requires fix: #49, #55)
* [ ] different m

[2016-02-13 23:20] #17 closed

[2016-02-13 23:54] paulirish opened #58 "finish migration to `so-fancy` github org"
we've moved this repo!

* [X] the all-important org logo (changes welcome! :)
* [X] teams set up.
* [X] invites sent out
* [x] URLs updated
* [x] circle/travis badges in readme updated.
* [ ] team accounts on circle/travis set up.

[2016-02-14 00:27] stevemao commented on #58
I have removed everyone from the Collaborator of the repo, so we only use team to manage access. Let me know if you have problems.
@paulirish @aziz @noscript

[2016-02-14 00:32] paulirish commented on #58
I think we're good on our CI, but we'll keep an eye on it.

cheers :)

[2016-02-14 00:32] #58 closed

[2016-02-15 10:51] tonekk commented on #35
:+1: was just going to add the same issue

[2016-02-15 18:41] brenolf opened #66 "Problem on OSX"
When I try `git diff --color | diff-so-fancy` I get the following error: `sed: 1: "/^((\x1B\[([0-9]{1,3}(; ...": bad flag in substitute command: '}'`.

I've just installed it globally and tried a diff.

[2016-02-15 19:00] paulirish commented on #66
brew install gnu-sed

[2016-02-15 19:13] brenolf commented on #66
My bad, didn't checked that out

[2016-02-15 19:13] #66 closed

[2016-02-16 00:07] OJFord commented on #21
Closed via Homebrew/homebrew#49040.

[2016-02-16 00:09] stevemao commented on #21
Thanks again @OJFord :smile:

[2016-02-16 00:10] stevemao commented on #21
We need to add docs on how to install via Homebrew.

[2016-02-16 00:14] OJFord commented on #21
@stevemao No worries :)

So for install instructions, I'd suggest just replacing the "on Mac, get `gnu-sed` with brew" with "on Mac, install via brew: `brew install diff-so-fancy`".

Can PR if you want, but if you'd prefer to just get the wording how you'd like it yourself rather than review mine that's :+1: too!

[2016-02-16 02:41] #21 closed

[2016-02-16 03:32] danielcompton commented on #35
`git commit --verbose` doesn't use it either.

[2016-02-16 10:23] #49 closed

[2016-02-16 10:44] dalemy opened #68 "Doesn't correct default terminal colours"
Currently, it only sets the colour of particular lines. If the terminal has red or green text for example, it's impossible to tell which lines have been removed or added respectively. If the colour of "normal" text, which hasn't changed, is defaulted to black or white, then it would be much easier to see the changes.

[2016-02-16 10:50] cht8687 commented on #57
so after the [merge](https://github.com/so-fancy/diff-so-fancy/pull/60) the task `works without extra gnu-sed dependency` can be marked as done right?

[2016-02-16 10:54] stevemao commented on #68
the text is default colour (without ansi). can you check your colour settings? I could set the "white" colour very close to "black".

[2016-02-16 10:55] stevemao commented on #68
<img width="489" alt="screen shot 2016-02-16 at 9 54 57 pm" src="https://cloud.githubusercontent.com/assets/6316590/13074323/f77cc634-d4f7-11e5-9d59-41303c377bc0.png">

[2016-02-16 10:56] stevemao commented on #57
Still missing comprehensive tests for it.

[2016-02-16 10:59] cht8687 commented on #12
@scottchiefbaker
I am not sure if it is only me, but in my Terminal, I didn't experience the issue which you got: ( only difference is the line changed to dash line)

with `meta = yellow bold`

![image](https://cloud.githubusercontent.com/assets/4587603/13074377/4dadb194-d4f8-11e5-85d2-b9751fe9195e.png)

with `meta = 11`

![image](https://cloud.githubusercontent.com/assets/4587603/13074370/497ee04

[2016-02-16 11:26] mhinz commented on #12
FWIW, on master (642dd24) everything is working for me now.

Tested config:

[code]

[2016-02-16 11:49] dalemy commented on #68
That's my point though. I have a couple of different terminals which load different profiles and I use colour schemes to differentiate between them. One of them is a black background with green foreground. With this being the case, I can't tell when a line is added or not, since the colours are the same. Having the text default to white/black instead of the foreground colour would be a useful opti

[2016-02-16 12:01] aristidesfl opened #69 "Option to enable pesky + or - at line-start"
Some people like myself might actually prefer to have the `+` and `-` on the left but still benefit from the other improvements. Feasible?

[2016-02-16 12:07] stevemao commented on #69
Why not just using diff-highlight directly?

[2016-02-16 12:11] stevemao commented on #68
There is no way to tell your "actual" colour of your terminal. We colour the text using ansi escapes and you can actually set say what the actual colour of "Green". Your problem is your green foreground set too close to your ansi "green". Read more: https://en.wikipedia.org/wiki/ANSI_escape_code

[2016-02-16 12:11] #68 closed

[2016-02-16 12:13] aristidesfl commented on #69
Is the removal of `+ / -` the only difference between `diff-highlight` and `diff-so-fancy` ?

[2016-02-16 12:13] doque opened #70 "bad flag in substitute command: '}'"
For the following diff:

[code]

Running `git-diff | diff-so-fancy` yields this error:
`sed: 1: "/^((\x1B\[([0-9]{1,3}(; ...": bad flag in substitute command: '}'`

[2016-02-16 12:15] stevemao commented on #70
what's the version?

[2016-02-16 12:18] stevemao commented on #70
Try `v0.4.0` and if problem persists we can reopen.

[2016-02-16 12:18] #70 closed

[2016-02-16 12:21] noscript commented on #68
`diff-so-fancy` doesn't modify the colors (except for the context line.) All the color codes come from `diff-highlight` which in turn receives them from git.

Your options are:
* post process `diff-so-fancy` output
* or configure git colors:

[code]

[2016-02-16 12:23] noscript commented on #69
Looking at the screenshot, the header is formatted and few other things.

[2016-02-16 12:24] stevemao commented on #68
Oh thanks @noscript :) , I thought @dalemy was asking for changing the ansi "white" in the script.

[2016-02-16 14:07] noscript commented on #68
Actually [README](https://github.com/so-fancy/diff-so-fancy#improved-colors-for-the-highlighted-bits) describes how to alter `diff-highlight` colors.

[2016-02-16 15:41] davidteren opened #71 "Homebrew formula not found."
Install on mac results in;

`$ brew install diff-so-fancy
Error: No available formula with the name "diff-so-fancy"
==> Searching for similarly named formulae...
Error: No similarly named formulae found.
==> Searching taps...
Error: No formulae found in taps.`

[2016-02-16 15:46] DomT4 commented on #71
I suspect your `brew` isn't up-to-date. Try `brew update && brew install diff-so-fancy`.

[2016-02-16 15:50] davidteren commented on #71
Right you are. Interesting as I did  `brew update` just yesterday evening. Lesson learned thanks.

[2016-02-16 15:50] #71 closed

[2016-02-16 15:53] DomT4 commented on #71
It was merged ~16 hours ago, so would have needed to have updated since then :smiley:. I just merged an update to the formula, so you should be on `0.4.0` locally now.

[2016-02-16 16:04] scottchiefbaker commented on #12
Master does indeed fix this issue. Not sure what commit, but it's fixed. Good work everyone.

[2016-02-16 16:04] #12 closed

[2016-02-16 16:25] davidteren commented on #71
That makes sense. Thanks for the heads up. Just tried and it's great but for some layout issues I'm having. I'll log a separate issue for that.
I'll be adding this to https://github.com/davidteren/devaura

[2016-02-16 16:38] davidteren opened #72 "Horizontal rules not displaying correctly."
Please see the image. I'm using the Solarized Dark xterm-256color theme from https://github.com/mathiasbynens/dotfiles

![diff-so-fancy](https://cloud.githubusercontent.com/assets/5962867/13083151/7426a98c-d4dc-11e5-9d73-204449fa2c36.png)

[2016-02-16 16:43] noscript commented on #72
Apparently backslash in `\n` doesn't need to be escaped. Please try to patch `diff-so-fancy`:
[code]

[2016-02-16 17:00] davidteren commented on #72
Tried and same effects.

![diff-so-fancy2](https://cloud.githubusercontent.com/assets/5962867/13083875/87b8efca-d4df-11e5-8635-56bbbab73916.png)

[2016-02-16 17:15] noscript commented on #72
Would you please try `\\\n`?

[2016-02-16 18:04] paulirish opened #73 "newline artifacts"
After updating to today's master I have some artifacts with the character `n` in my diff header.

![image](https://cloud.githubusercontent.com/assets/39191/13085722/81a6dd2c-d494-11e5-8d1c-78d2d9310a39.png)

@pauley-unsaturated do you think it may be your fixes?

I get this result after `brew rm gnu-sed`. If it's installed, things are looking fine.

[2016-02-16 18:04] paulirish commented on #73
dupe of #72

[2016-02-16 18:04] #73 closed

[2016-02-16 18:06] paulirish commented on #72
with this:

[code]

I see
![image](https://cloud.githubusercontent.com/assets/39191/13085818/f4259032-d494-11e5-917f-cf8b44a00fbf.png)

[2016-02-16 18:08] paulirish commented on #72
Relevant: http://stackoverflow.com/questions/1421478/how-do-i-use-a-new-line-replacement-in-a-bsd-sed

[2016-02-16 18:46] pauley-unsaturated commented on #72
This might be related to my stuff (in that it allows using bsd sed instead of gnu-sed).  It looks like the recommended way to do this is to use ANSI-C quoting:
NL=$'\n' and then replace \n with ${NL} or something like that.

The strange thing is that it "works on my machine".

[2016-02-16 19:57] OJFord commented on #57
@paulirish Can you clarify the difference between resolving d-h when in `$PATH`, and the following item?

I'm not familiar with nvm'd npm installs, but Homebrew will complain (via `brew doctor`) if `/usr/local/bin` isn't in `$PATH`, which contains symlinks to `diff-so-fancy`, `diff-highlight`, etc. - so isn't just checking it works from `$PATH` sufficient? (c.f. #74, working on my brew install.)

[2016-02-16 20:02] paulirish commented on #72
@pauley-unsaturated yah i'm positive it's your stuff. :) Now it's clear why I had done those lame newlines originally.

I'm on el capitan if that's any different.

can you give me a snippet with the ansi-c quoting to try out?

[2016-02-16 22:59] stevemao commented on #72
Can you guys try #75?

[2016-02-16 23:06] jlipps commented on #72
@stevemao for me that turns the faint-colored `n` into a `\1`, so not much of an improvement. i'm on mac 10.10, i think also using the solarized dark term theme.

[2016-02-16 23:18] pauley-unsaturated commented on #72
Please try this:
@@ -26,6 +26,7 @@ else
 fi

 CSI=$'\x1b\['
 NL=$'\n'
...
   # simplify the unified patch diff header
   $SED -E "s/^($color_code_regex)diff --git .*$//g" \
     | $SED -E "/$git_index_line_pattern/{N;s/$git_index_line_pattern\n//;}" \
     | $SED -E "s/^($color_code_regex)\-\-\-(.*)$/\1$(print_horizontal_rule)\\${NL}\1\-\-\-\5/g" \
     | $SED -E "s/^($color_code_regex)\+\+\+(.*)$

[2016-02-16 23:19] pauley-unsaturated commented on #72
Also: I think this had something to do with the merge.  I can post a PR with this change if you like.

[2016-02-16 23:26] pauley-unsaturated commented on #72
Weird: my new changes eat a + / - ... in the file-name header.

[2016-02-16 23:26] stevemao commented on #72
@pauley-unsaturated Yes please.

[2016-02-17 00:11] elyscape commented on #72
@jlipps Interesting. I'm on 10.11 and don't have that issue. Maybe they changed sed between 10.10 and 10.11.

[2016-02-17 01:58] alanrsoares opened #78 "Brew formula not found"
[code]
[code]

[code]
[code]

[2016-02-17 02:17] stevemao commented on #78
duplicate of https://github.com/so-fancy/diff-so-fancy/issues/71

[2016-02-17 02:17] #78 closed

[2016-02-17 04:05] davidteren commented on #72
Installing a GNU sed version via Homebrew solves the issue.
`brew install gnu-sed --with-default-names`

[2016-02-17 04:24] elyscape commented on #72
It shouldn't be necessary to install GNU sed to deal with this, though.

[2016-02-17 06:10] Treri commented on #72
same problem.

[2016-02-17 06:31] zackhsi commented on #72
+1

[2016-02-17 06:38] pauley-unsaturated commented on #72
Okay, there seems to be a bit of confusion here: my patch works for me (#77).  I'm on 10.11 and using the built in BSD sed. @jlipps seems to suggest that this won't work for some other users.  @zackhsi, @Treri, @davidteren: does #77 not fix your issue?  If so, please say so on that PR.  If not, please post your config: bsd / gnu sed, OS / version, etc.

[2016-02-17 07:48] davidteren commented on #72
@pauley-unsaturated you are correct. Confusion abounds :)
I removed the gnu-sed I'd brewed, did `git pr 77` to pull the fix & it's all good now. https://github.com/so-fancy/diff-so-fancy/pull/77 fixes the issue.

[2016-02-17 08:29] hultberg commented on #35
As @danielcompton pointed out, `git commit -v` does not use diff-so-fancy.

[2016-02-17 10:29] Spy-Seth opened #79 "Clean `a/` and `b/` prefix on header"
Hi,

I want to suggest you an improvement: removing the prefix `a/` or `b/` in the header. It will make the file path easier to select.

<img width="320" alt="screenshot 2016-02-17 11 28 48" src="https://cloud.githubusercontent.com/assets/95120/13106626/a2153bf0-d569-11e5-8fd9-5d873cd3b3af.png">

[2016-02-17 10:36] stevemao commented on #79
Duplicate of #28

[2016-02-17 10:36] #79 closed

[2016-02-17 18:08] dadgar opened #80 "Horizontal line separating files steps up"
Hey this is on a Mac running in either iTerm or built in terminal

<img width="1920" alt="screen shot 2016-02-17 at 10 06 46 am" src="https://cloud.githubusercontent.com/assets/1047914/13119510/537ad12c-d55e-11e5-83e5-860724cff027.png">

[2016-02-17 19:48] dcalhoun commented on #80
I am also experiencing this issue on Mac OS X 10.11.3 (15D21) and iTerm 2.1.4. Installed diff-so-fancy via npm.

[2016-02-17 21:29] heftig opened #81 "Merge diffs formatted poorly"
Removal of the initial +/- interacts poorly with merge diffs, which have two initial columns of indicators.

I also suspect octopus merges can have even more.

[2016-02-17 22:01] jlipps commented on #72
`npm install`ed latest release and this issue is also resolved for me. thanks!

[2016-02-17 22:10] noscript commented on #80
Duplicate of #72

[2016-02-17 22:10] #80 closed

[2016-02-17 22:12] noscript commented on #81
What do you propose?

[2016-02-17 22:17] heftig commented on #81
I am in favor of returning to the normal indicators (#69) for now.

[2016-02-17 22:20] noscript commented on #81
Considering this a duplicate of #69.

[2016-02-17 22:20] #81 closed

[2016-02-17 22:22] stevemao commented on #72
This issue still exists in the latest version?

[2016-02-17 22:29] noscript commented on #72
According to #80 it does. Two complains since the release. I wonder how do the tests with OSX env pass in Travis.

[2016-02-17 22:31] pauley-unsaturated commented on #72
I don't know if I believe they have the right bits yet.  #77 doesn't even have an 'n' character in the NL sequence, which is what they're seeing pop up on their screen.

[2016-02-17 22:33] pauley-unsaturated commented on #80
@dcalhoun Can you reproduce this with TOT diff-so-fancy?  We believe the original of your issue was fixed yesterday, so it's important to know if this is related to npm or if it just didn't get fixed for everybody.

[2016-02-18 00:09] paulirish commented on #72
I'm 90% sure our friends on #80 don't have 0.4.1

We can close this one. Thanks @pauley-unsaturated and all.

[2016-02-18 00:09] #72 closed

[2016-02-18 00:12] paulirish opened #82 "NPM will not update, as it's a symlink"
Just got this:

![image](https://cloud.githubusercontent.com/assets/39191/13129327/29f8aca6-d591-11e5-8740-c78b96ecd4f1.png)

.. debugging:

![image](https://cloud.githubusercontent.com/assets/39191/13129385/7ee5bba0-d591-11e5-8958-0a18d46d6646.png)

[2016-02-18 00:18] paulirish commented on #82
This appears to be due to the `npm link` I've setup against my development build. And NPM isn't making it easy to unlink...

![image](https://cloud.githubusercontent.com/assets/39191/13129466/0a1ca24c-d592-11e5-851b-ddf124acdf82.png)

well... low priority as it's not user-facing.

[2016-02-18 00:18] #82 closed

[2016-02-18 00:24] paulirish commented on #80
Hey guys, this is a bug that snuck in but was fixed in 0.4.1.

`npm install -g diff-so-fancy` will get you to 0.4.1, or a manual install.

[2016-02-18 00:31] paulirish commented on #57
@OJFord I was just differentiating between the cases of 1 symlink involved vs 2+ symlinks. https://github.com/so-fancy/diff-so-fancy/pull/36 also mentions the oddness around this.

[2016-02-18 00:47] OJFord commented on #57
Oh I see, I hadn't realised this caused problems.

[2016-02-18 00:58] stevemao commented on #82
I think its probably a problem with npm itself?

[2016-02-18 04:28] paulirish commented on #57
@OJFord well the new readlink functionality at the top of the file loops to resolve, because asking for `readlink foo` can return another symlink. so its a test for that coverage.

[2016-02-18 10:36] arthurdarcet commented on #69
the removal of the +/- is also problematic when git is configured with `core.whitespace = trailing-space` (which highlights trailing spaces at the end of a line in the diff):

![capture d ecran 2016-02-18 a 11 36 32](https://cloud.githubusercontent.com/assets/973454/13140702/e5e66a0a-d633-11e5-8253-ae8bdc85eac8.png)

[2016-02-18 12:26] aristidesfl commented on #69
Your screenshot looks like it could be highlighting empty new lines (with new line character). I don't have any trailing white-space and get those for new empty lines with `diff-so-fancy`.

I prefer to have a plus sign for new empty lines than that green rectangle.

[2016-02-18 12:37] noscript commented on #69
As has been asked above, why do you still want to use `diff-so-fancy`?

[2016-02-18 13:59] dcalhoun commented on #80
Yes, upgrading to 0.4.1 resolved this issue for me.

[2016-02-19 06:36] supercrabtree opened #84 "So fancy patch diffs?"
Totally loving the new diffs, making my working life much more fun 🙂️

Thing is, you've spoiled me, and I kinda want them everywhere now. I had a quick grep about but couldn't find anything. Does anyone out there know a way to modify the command that generates the patch diffs? I would be happy to implement if someone can point me in the right direction.

In case someone is reading this and thinkin

[2016-02-19 07:30] stevemao commented on #84
Have you looked at #35?

[2016-02-19 07:34] supercrabtree commented on #84
I have no idea how I missed that....

[2016-02-19 07:34] #84 closed

[2016-02-19 18:59] paulirish opened #85 "Trailing whitespace highlight broken"
Here's a view of trailing space highlighting kinda breaking with diff-so-fancy:

![image](https://cloud.githubusercontent.com/assets/39191/13185591/e61a719c-d6f6-11e5-985d-4d5a1011c52b.png)

Original output:
[code]

[2016-02-19 19:00] paulirish commented on #69
@arthurdarcet ooh. Hadn't seen this before. Definitely a bug, so let's pick that up separately: https://github.com/so-fancy/diff-so-fancy/issues/85

[2016-02-19 19:12] paulirish commented on #69
I think we could introduce an option to enable line annotations. Like: `diff-so-fancy --plus-signs`  Seems ok

[2016-02-19 20:25] paulirish commented on #35
The solution here appears to be to fork `$brewdir/Cellar/git/2.7.0/libexec/git-core/git-add--interactive` and make some edits.

I don't see a cleaner way to configure this.

[2016-02-20 01:35] OJFord commented on #12
Note also that the ANSI colour 'yellow' (etc.) actually is, is terminal-defined. In some (most?) cases you'll be able to change this in settings; so if you don't like the brown-ish colour, or wouldn't recognise it as being yellow when used elsewhere, you can (and maybe should) change it.

[2016-02-20 10:04] hultberg commented on #35
We could open a feature request to git itself and see if we could get a config for this?

[2016-02-21 02:26] rajasharan opened #86 "git simple alias with pipes and multiple arguments doesn't work."
e.g:
[code]

Instead we can use bash function to make the alias work with pipes and all.

[2016-02-21 03:36] dideler opened #88 "Confusing diff when removing lines that start with --"
I would expect to see the addition/removal indicator separated by a gap from the content that was changed. For example, `- --content`, but instead I see `---content`.

<img width="219" alt="screenshot 2016-02-21 03 28 38" src="https://cloud.githubusercontent.com/assets/497458/13200689/3810ee86-d84b-11e5-96b4-628f9b1ecf4a.png">

It looks like the deleted lines start with three hyphens, which is a b

[2016-02-21 19:04] JacobEvelyn commented on #41
@stevemao sorry for the delay. I just downloaded the newest version from `npm` and still have the same behavior. Here are the relevant lines from the `pbcopy` you asked for:

[code]

[2016-02-22 18:30] paulirish commented on #88
@dideler we need a bit more detail here

can you run this and share it here?

`git --no-pager diff --staged | pbcopy`

[2016-02-23 09:36] dideler commented on #88
Looks like the behaviour is the same in vanilla git diff, sorry for the noise.

[code]

[2016-02-23 09:36] #88 closed

[2016-02-24 08:54] tonekk opened #89 "cli"
Not sure if this is to be included into the repo, but I found that using the pipe combo is bit much of typing, so I rolled this:

https://github.com/tonekk/git-di

[2016-02-24 09:00] noscript commented on #89
There are many ways to achieve less typing. Alias in git config, git pager in config, shell alias, script in `$PATH` (what you did).

But why only 4 parameters? You can pass all via `$@`.

[2016-02-24 09:01] stevemao commented on #89
The readme already says

git config --global pager.diff "diff-so-fancy | less --tabs=4 -RFX"
git config --global pager.show "diff-so-fancy | less --tabs=4 -RFX"
However, if you'd prefer to do the fanciness on-demand with git dsf, drop an alias in your ~/.gitconfig:
dsf = "!git diff --color $@ | diff-so-fancy"

[2016-02-24 09:22] tonekk commented on #89
@noscript updated, thanks!
@stevemao Reading the full Readme is always beneficial :)

[2016-02-24 09:30] #89 closed

[2016-02-24 15:56] scottchiefbaker commented on #28
@paulirish I really like your suggestions here. The one line setup makes a lot more sense to me, and would save screen real estate also. This suggestion gets a +1 from me.

[2016-02-25 10:29] #57 closed

[2016-02-25 10:30] paulirish commented on #85
Closing as its my own bug report and I'm also not feeling up to fixing it. :)

[2016-02-25 10:30] #85 closed

[2016-02-25 10:33] #86 closed

[2016-02-25 10:39] stevemao commented on #85
@paulirish Sorry, it looks right to me. What exactly is the problem? The lightgreen is highlighting the added whitespace?

[2016-02-25 10:44] noscript commented on #85
I guess the trailing white spaces are expected to be highlight with red, when enabled.

[2016-02-25 10:48] stevemao commented on #85
It's probably `diff-highlight`'s problem then.

[2016-02-25 10:50] stevemao commented on #85
It is quite strange though... but a very minor problem.

[2016-02-25 10:54] stevemao commented on #85
`git --no-pager diff --color | diff-highlight` confirmed it's a bug in diff-highlight

[2016-02-25 10:54] paulirish commented on #85
Ah yes. this is diff-highlight's bug. :)

![image](https://cloud.githubusercontent.com/assets/39191/13317638/07b52e64-db6b-11e5-8929-de512f8cabca.png)

[2016-02-25 10:56] stevemao commented on #85
Rather than a bug, it's just a bit inconsistent.. I didn't notice it so I guess most people won't :)

[2016-02-26 23:23] paulirish commented on #35
Yup, we'll need to get this supported upstream in git core first.

<hr>

@peff I think you're the right person to help us out. First of all, thank you. This project has been a big success mostly due to your work on diff-highlight.

You can read the above issue for context, but it appears we are lacking support in git-core for a key area. We'd like to propose, I think, that `add--interactive` can s

[2016-02-26 23:35] scottchiefbaker opened #93 "Do we care about `deleted file mode`"
In the interest of saving screen real-estate, can we remove `deleted file mode`. I can maybe understand showing the added file mode, but who cares about what the file mode was when it was deleted.

Should we remove this line? Or am I just complaining about nothing.

[code]

[2016-02-26 23:35] scottchiefbaker commented on #93
Also I'd be open for discussion about the added file mode too. I've never used it, but maybe someone has?

[2016-02-26 23:38] scottchiefbaker commented on #28
@noscript I'm working on tests and I cannot get diff to show me the "rename" syntax you describe. If I do a `git mv foo.txt bar.txt` the diff output is to delete `foo.txt` and add `bar.txt`. Am I missing something on file renames?

If so, can you provide me with some `git diff` output I can put in my tests.

[2016-02-27 00:18] OJFord commented on #35
Please forgive me for asking the obvious - I'm sure others have a firmer grasp of it than I do - but perhaps it's best to get a note of it anyway.

Does a configurable pager make sense for `add--interactive` in any context other than `diff-so-fancy` or similar tool?

For example, most have pager set to `less` (plus some options) or maybe `vim`. How does this make sense for multiple fragments? I'm

[2016-02-27 01:35] paulirish commented on #35
@OJFord Yeah you're right. It's not a pager, but just a hook to pipe the diff output somewhere. It does seem like the value is mostly for diff formatting tools. yup.

[2016-02-27 02:56] paulirish commented on #28
I think the output you're dealing with is the same, yah.

[2016-02-27 03:03] kergoth opened #94 "New empty line deletion is swallowing non-empty lines"
The top commit line in my git log was swallowed by it, for example. I had to revert to the previous version.

[2016-02-27 04:28] stevemao commented on #85
@peff Are you aware of this? Also how can we contribute to `diff-highlight`?

[2016-02-27 04:45] peff commented on #35
@paulirish Yes, I think what you're asking for makes sense. I don't use `diff-so-fancy`, but I have been annoyed at not getting `diff-highlight` support via `git add -p` before. :)

The infrastructure is already there to have "diffs to apply" versus "diffs to show the user" (that's how we do the color stuff). It assumes there's a 1:1 correlation in lines between the two versions of the diff (which

[2016-02-27 05:42] peff commented on #35
I just sent http://article.gmane.org/gmane.comp.version-control.git/287659 to the list. Not well tested, but it works for me. You can also fetch it from the `jk/interactive-diff-filter` branch of `git://github.com/peff/git.git`.

[2016-02-27 06:39] peff commented on #85
I'm not sure if this is a bug in diff-highlight, as much as it is inherently in conflict with the ANSI codes that the whitespace-highlighter is using. Here's a simple case:

[code]

So the original turns off all colors (to shut off the green), then turns on code 41 (red background), shows the space, and then turns off colors.

`diff-highlight` sees that the difference is the extra space, and highl

[2016-02-29 02:14] paulirish commented on #94
hmmm.

@kergoth in the meantime you should make sure your pager is only for git/show. the readme was updated a bit ago.

[2016-02-29 02:17] paulirish commented on #93
aye. i dont see much reason to keep the deleted file mode.

added can make sense for non-default modes like when +x is applied.

[2016-02-29 03:36] patspam opened #96 "Jumping between output segments"
Prior to using diff-so-fancy, I would often use /^diff or /^commit in less to jump between files/commits.

With diff-so-fancy, I've found I can pre-seed less with the search pattern (-p) which is nice because then I can immediately start hitting "n/p" to jump between matches, but I'm still trying to figure out the most useful regex to use..

Currently I'm using:

`diff-so-fancy | less --tabs=4 -RF

[2016-02-29 03:43] stevemao commented on #96
If we make the first `----` different than the second one, you could then easily use a regex to jump between blocks right? I think it's a good idea.

[2016-02-29 07:53] kartsims opened #97 "using arrows navigation"
Wow, after using `git diff` in the CLI for so long I must say I *really* enjoy this stuff !

One thing though that still prevents me from using it when investing large commits (and therefore using it as an alias in my git config), it seems that I can't use the arrows and space key to scroll up and down in the output provided... It just prints everything out and stops. I liked the `less`-like behav

[2016-02-29 09:14] stevemao commented on #97
Did you try this:

[code]

[2016-02-29 09:24] kartsims commented on #97
Okkkk so sorry I read too quickly ! Thanks for the answer :)

[2016-02-29 09:24] #97 closed

[2016-02-29 16:07] kergoth commented on #94
Ah! I didn't notice the readme update. It did work for `log -p`, though, even though that likely wasn't specifically intended :) I'll switch for now. Thanks.

[2016-02-29 18:07] scottchiefbaker commented on #96
@patspam we're in the process of overhauling how the headers are printed. You can view the pull request and associated discussion here:

https://github.com/so-fancy/diff-so-fancy/pull/90

Once that lands you should be able to set a search pattern for "(added|removed|modified) :" and you'll be set.

[2016-02-29 18:34] paulirish opened #98 "New screenshot for readme"
There's been a few changes that aren't reflected in the screenshot or summarized in the readme's text.

e.g. the header_clean, code is flush left, dim foreground on context line

Anybody wanna take a swipe at updating those?

[2016-02-29 18:40] scottchiefbaker commented on #28
Now that #90 has landed I think we can close this.

[2016-02-29 18:47] paulirish commented on #96
it's landed, so this should be easier.

Never knew about this technique. it's pretty excellent, btw

[2016-02-29 18:58] paulirish commented on #28
Yup and 90 is compatible with both `diff.noprefix true` and `diff.noprefix truediff.noprefix false`

[2016-02-29 18:58] #28 closed

[2016-02-29 19:24] scottchiefbaker commented on #96
@patspam this works for me:

[code]

Will that work for you?

[2016-02-29 19:42] scottchiefbaker commented on #93
There is no "default" mode though. I'm not sure if we really care about added mode. It seems that we only really care about the mode when it's changing?

[2016-03-01 02:45] patspam commented on #96
Sounds great, thanks!

Unfortunately less doesn't behave nicely if you always supply `--pattern` (clears the screen when no match found etc..), but probably possible to create an intermediate script that is smarter.

[2016-03-01 09:04] tomcodes opened #99 "git add interactive does not use diff-so-fancy"
Hello! I really love diff-so-fancy, congratulations on this tool!

I am a big fan of git add interactive (git add -p) which lets you select trunks of diffs to add to your index. However I was not able to have diff-so-fancy pick the diffs, I just don't know why or how I can change this behavior.

Thank you for any hint on this matter!

[2016-03-01 09:07] tomcodes commented on #99
Sorry I just noticed this had already been noticed in issue #35.

[2016-03-01 11:42] #99 closed

[2016-03-01 18:39] scottchiefbaker opened #100 "Should we change how hunk headers look?"
Raw diffs include the lines numbers encoded strangely:

![lines](https://cloud.githubusercontent.com/assets/3429760/13437544/9e269ef0-df99-11e5-8e6b-94719cb13985.png)

Note the magenta line numbers surrounded by @@. Should we:

1. Get rid of them completely
2. Change them to "* Line #XX"
3. Something totally different
4. Leave them alone

[2016-03-01 18:53] lode commented on #100
Yeah! More readability can be added there for sure.

As I decompile it, it is the line number where the diff starts (including context lines), and the amount of lines.

For myself, I'm mostly looking for the line start, but then also of the first changed line, so I can enter it in my editor and go there, exactly there. This is (as I understand), the third number + context lines. Something alike `:

[2016-03-01 19:02] scottchiefbaker commented on #100
I reworked my script to capture the @@ lines and display them differently, I'm just not sure what "differently" looks like right now. I started off with just: "* Line #3 *" as that's raw from the diff.

I use it the same way you do, "where do I go after I open up the this file". Maybe it should be the line number + the context lines (i.e. go directly to the first changed line)?

[2016-03-02 19:42] scottchiefbaker commented on #98
Before:
![two](https://cloud.githubusercontent.com/assets/3429760/13472896/c04d8142-e06b-11e5-9995-aa3aae7568ac.png)

After:
![one](https://cloud.githubusercontent.com/assets/3429760/13472897/c0520be0-e06b-11e5-8169-5a0ad005aa35.png)

[2016-03-02 19:43] scottchiefbaker commented on #96
Can we close this issue, or is there more to be done?

[2016-03-02 19:46] scottchiefbaker commented on #100
This is an example of what I've come up with so far:

[code]

[2016-03-02 20:58] lode commented on #100
Looks great! (in the screenshot)

Wouldn't it be nice to add a newline in between blocks in the same file?

Further I think we could do without the "Changes start on line". After you've started using it, that will quickly become obsolete and just extra clutter.

[2016-03-02 22:57] paulirish commented on #98
here's the side by side composite:

![image](https://cloud.githubusercontent.com/assets/39191/13478675/feb88ce0-e086-11e5-934d-fe330dbeb67e.png)

look good to folks?

[2016-03-02 23:13] paulirish opened #101 "homebrew install for ToT broken - locating header_clean"
Taking the issue from https://github.com/Homebrew/homebrew/pull/49712 here:

error:

[code]

@scottchiefbaker it's failing to find the header_clean script.

we're reusing the exact same logic as diff-highlight... however.. diff-highlight is [added as a global binary](https://github.com/stevemao/homebrew/blob/diff-so-fancy-0.5.2/Library/Formula/diff-so-fancy.rb#L9-L12) in the homebrew install, so d

[2016-03-02 23:17] paulirish commented on #101
@OJFord AFAICT, the homebrew install discards the rest of the tarball except for the two files, `diff-so-fancy` and `diff-highlight`.

![image](https://cloud.githubusercontent.com/assets/39191/13479115/a46ec29c-e089-11e5-8472-6502db291107.png)

The bug here is basically the same as "how do we do this homebrew install without making `diff-highlight` be installed globally?"

In this case, we want to

[2016-03-02 23:49] OJFord commented on #101
That's correct, it's `lib.install`. However, this reopens a relative addressing issue solved as a side effect of the global binary install.

[code]

The trivial solution would be a symlink `bin/third_party` -> `lib/third_party`. I have a feeling the Homebrew folk won't like that. I think the best way is:
[code]

[2016-03-02 23:57] paulirish commented on #100
nice! yeah let's make this easier.

the official docs on the hunk header: https://github.com/git/git/blob/master/Documentation/diff-generate-patch.txt#L154-L185

it always starts with `@@ -`: https://github.com/git/git/blob/f02fbc4f9433937ee0463d0342d6d7d97e1f6f1e/diff.c#L732
and it'll always have the the `-X,Y` followed by the `+A,B` block, except for a file deletion where the first block will be

[2016-03-03 00:08] paulirish commented on #100
My ideal might be the following:

[code]

#### details
* hunk header still denoted with @'s for consistency, plus `@` is very contexty.
* we do the math on # of lines added or removed.
   * on my team, delta of lines added/removed is very important. here we calculate for easy summarization, though admittedly the numbers are only at the hunk level.
* reuse the filename to print filename:XX line pos

[2016-03-03 00:13] paulirish commented on #101
@OJFord yeahhhh that sounds right to me.. with that, [get_script_dir](https://github.com/so-fancy/diff-so-fancy/blob/master/diff-so-fancy#L5-L12) should sort out diff-highlight's location already.

I don't entirely grok the diff between ` bin.install_symlink prefix/"diff-so-fancy"` and ` bin.install "diff-so-fancy"`. But I guess you're telling me the difference is worthwhile.... :)

[2016-03-03 00:14] paulirish commented on #101
@OJFord btw how do you try out these formulas locally?

[2016-03-03 00:28] OJFord commented on #101
For `bin.install` think `mv`; `bin.install_symlink` think `ln -s`. In both cases the target is the on-`$PATH` `/usr/local/Cellar/{formula-name}/{formula-version}/`directory.

I've been testing just by `brew reinstall diff-so-fancy`. Not sure if there's a better way.

[2016-03-03 00:33] #96 closed

[2016-03-03 00:34] paulirish commented on #96
@patspam i've added something to the readme on this. please PR it if you come up with a better solution.

[2016-03-03 00:34] paulirish commented on #93
@scottchiefbaker yah. that's fine with me. lets nuke unless mode is changing

[2016-03-03 00:35] #94 closed

[2016-03-03 00:50] OJFord commented on #93
I think this would break the hopefully-inbound solution to #35 (`add --patch` support)?

not; they change the diff header around a bit, and there's not a
complete 1:1 correspondence in the lines. _But_ I think it might work OK
in practice, because their diff header remains 4 lines long, and the
hunks themselves have 1:1 line correspondence.

[2016-03-03 02:36] scottchiefbaker commented on #98
Actually this has my in-progress hunk code in it. We might want to hold off until #100 lands?

[2016-03-03 03:26] paulirish commented on #98
ooooh true.

yeah lets wait for 100

[2016-03-03 03:28] paulirish commented on #101
that all makes sense. sounds good.

@stevemao ollie's got a commit above that sorts out our bump to 5.0.2 ... can you use that in the homebrew pr?

[2016-03-03 03:32] OJFord commented on #101
@paulirish I did open a PR stevemao/homebrew#1 actually, on the same branch as Homebrew PR, so it should bubble through if I did that right.

[2016-03-03 03:55] scottchiefbaker commented on #100
The problem I'm running in to is commits where the ONLY change is a perm change. Here the first commit is ONLY a perm change and then continues on with a regular addition:

[code]
Currently we remove the `diff --git` line here: https://github.com/so-fancy/diff-so-fancy/blob/master/diff-so-fancy#L41, but I need that line to output WHAT file is getting the perm change.

I can remove that sed call, b

[2016-03-03 04:54] paulirish commented on #101
Nice work!
On Mar 2, 2016 7:32 PM, "Ollie Ford" <notifications@github.com> wrote:

[2016-03-03 05:44] paulirish commented on #100
K.
Let's move that piece into the Perl.

It seems like it's still possible to handle the line spacing but I can look
once your patch of up

[2016-03-03 16:08] blueyed commented on #69
@arthurdarcet
It's not related to a git option, but diff-so-fancy uses inverted colors to show newlines.

I find these colored blocks really distracting myself, too and would prefer to have just an underlined space there instead.
The highlighting of added newlines would not even be necessary in the middle of a hunk?!
We should probably create a new issue to track this separately?!

[2016-03-03 16:12] scottchiefbaker commented on #100
[code]

You really think putting the file name twice is necessary? It seems a little redundant and "noisy" to me. I was thinking something like:

[code]

[2016-03-03 16:37] scottchiefbaker commented on #100
`There are (number of parents + 1) `@` characters in the chunk header for combined diff format.`

There may not always be two `@` signs... That'll be "fun".

[2016-03-03 17:26] aristidesfl commented on #69
Can't new lines be marked with the plus sign? Any other whitespace an empty line may contain is marked differently right?

[2016-03-03 18:14] scottchiefbaker commented on #100
I don't know if we're going to be able to (easily) calculate lines changed. Take for example this diff:

[code]

The `-1` indicates the line this hunk starts at, and the first 6 indicates how many lines are in the original file. The second 6 indicates the number of lines in the changed file. In this case one line was removed, and one was added.

In another example I removed 8 lines, and added 8 to

[2016-03-03 19:22] lode commented on #100
You can copy-paste the `file:line` in Sublime to go to that file at that line.

That's why GitHub only shows (and communicates in their API) the amount of additions and removals, and the amount of commits in a PR, but not the amount of changed lines.

[2016-03-03 19:34] scottchiefbaker commented on #100
Lines added/removed really only makes sense in the context of a whole file or a whole pull request. I'm a fan of **not** including that on a per-hunk basis.

[2016-03-03 23:03] blueyed commented on #69
Yes, at least for empty lines a plus sign seems to be sensible by default.

And then I've noticed that it's actually pretty useful for `copy'n'paste` to have the signs, e.g. when you want to paste some patch (completely).  It seems to be easier to remove leading signs when required.

[2016-03-03 23:06] blueyed opened #103 "Files are considered to be renamed with `diff.mnemonicprefix`"
% git -c diff.mnemonicprefix=true-c pager.diff=diff-so-fancy diff
    …
    renamed: i/luaa.c to w/luaa.c
    …

That's because it's only looking for `a` and `b` there, but should discard the first path segment altogether probably.

[2016-03-04 00:54] paulirish commented on #100
okey doke. Let's leave that out of scope for now.

<hr>

so I guess we end up with either

[code]

or
[code]

I have a preference for the former (assuming `basename` is trivial for perl). I don't think it's noisy, plus in larger diffs, i sometimes lose track which file i'm within.

[2016-03-04 00:57] paulirish commented on #103
fascinating. didn't know `mnemonicprefix` existed. Do you use it by default?

[2016-03-04 01:09] blueyed commented on #103
Yes, and I hit corner cases all the time.. :)

[2016-03-04 01:11] blueyed commented on #100
:+1:

[2016-03-04 01:32] scottchiefbaker commented on #93
Closing now that #102 has landed.

[2016-03-04 01:32] #93 closed

[2016-03-04 16:59] scottchiefbaker commented on #100
Everything is trivial in Perl :)

[2016-03-04 19:20] paulirish commented on #100
\o/

[2016-03-04 22:14] paulirish commented on #101
closing as 5.0.2 is now published.

thx for the work, ollie. btw feel free to close issues on your own if you like. :)

[2016-03-04 22:14] #101 closed

[2016-03-04 23:17] #100 closed

[2016-03-04 23:17] scottchiefbaker commented on #98
Do we have another other pending visual changes? Should I generate new screen shots?

[2016-03-04 23:53] OJFord commented on #101
No worries; sorry about that I thought the commit message had closed it.

[2016-03-05 00:32] paulirish commented on #98
that's it! we're ready

[2016-03-06 04:15] paulirish opened #109 "header_clean.pl error: Argument "-1 +0" isn't numeric"
Getting this.. Appears to be on certain hunk headers..

Looks like it's running up against this input:

[code]

in particular ` -1 +0,0 ` when it was expecting a `,X` after the `-1`

[2016-03-06 05:05] paulirish commented on #109
Fix incoming…

[2016-03-06 12:13] vanniktech opened #112 "No inline changes"
I can't see inline changes anymore. I'm using ohmyzsh terminal on Mac 10.11.2.

<img width="725" alt="screen shot 2016-03-06 at 13 07 06" src="https://cloud.githubusercontent.com/assets/5759366/13554004/66a1e6f4-e39c-11e5-9409-f687a086598e.png">

Git configuration looks like this:

[code]

This is the git diff output

[1;33mindex a8cde25..32284ef 100644[m
[1;33m--- a/src/main/groovy/com/vannikt

[2016-03-07 12:32] stribor opened #113 "sed: RE error: illegal byte sequence"
sed: RE error: illegal byte sequence

I get this error trying to use diff-so-fancy.
text file it chokes at is iso latin encoded and has some umlauts (ü ö ..) in and and some special characters like {} % | / [ ]

[2016-03-07 21:51] mmlb opened #114 "getting `shift on reference is experimental` on empty diffs"
[code]

[2016-03-08 05:24] xerebz commented on #114
Seeing this when trying any git diff using the same perl version as @mmlb

[2016-03-08 05:43] mmlb commented on #114
It works for me if there is some content in the underlying diff.

[2016-03-08 07:27] lamchau commented on #69
@aristidesfl @blueyed -- is this what you're expecting?

via #108
![image](https://cloud.githubusercontent.com/assets/4911400/13594791/eb3f40e4-e4d4-11e5-8667-e57a89634c56.png)

[2016-03-08 07:29] lamchau commented on #69
@paulirish guess we'll just need tests and we're good to go? :)
cc: @stevemao what do you think about this approach?

[2016-03-08 09:18] blueyed commented on #69
@lamchau
Yes.

[2016-03-08 10:25] aristidesfl commented on #69
looks good

[2016-03-08 17:33] jeffcasavant commented on #114
Happens to me, suspect this is related to the perl version.  I have the same as mmlb.

From https://rt.cpan.org/Public/Bug/Display.html?id=101680:

[2016-03-08 19:59] paulirish commented on #112
hey thanks for the super detailed bug report. :) good stuff.

i"m not seeing anything in your screenshot that looks wrong.  what do you expect to see differently?

can you paste your output from `git --no-pager diff` ?

[2016-03-08 20:00] paulirish commented on #114
cc @scottchiefbaker if you have ideas

[2016-03-08 20:04] scottchiefbaker commented on #114
@mmlb Ahhhhh this should be an easy fix. Try changing line 113 to

[code]

If that fixes the problem for you, I'll send a PR.

[2016-03-08 20:11] paulirish commented on #114
I just got a repro of that bug going..

[code]

![image](https://cloud.githubusercontent.com/assets/39191/13614728/c742abd4-e526-11e5-9665-39f836a26b72.png)

Just updated the source with @scottchiefbaker's fix.. and we're good!

[2016-03-08 20:19] paulirish commented on #113
@stribor can you give us an example diff?

thx

[2016-03-08 21:22] scottchiefbaker commented on #114
My dev environment has Perl 5.18, and this was introduced in 5.20+

My bad...

[2016-03-08 21:41] blueyed commented on #103
See also 29a88893d2a23484b745b099c6c139b471dae6b0.

[2016-03-08 21:42] scottchiefbaker commented on #113
You probably want to force color. If you redirect to a file it may strip out the ANSI codes. I know on my dev box it does.

    git --no-pager diff --color > /tmp/illegal.diff

or even better (preserve non-latin chars)

    git --no-pager diff --color | base64 > /tmp/illegal.diff

[2016-03-08 21:49] scottchiefbaker commented on #98
How about this:

![both](https://cloud.githubusercontent.com/assets/3429760/13617626/84f6b924-e534-11e5-82c6-8eae47b5722c.png)

I tried to get some code that would show off each piece of what dsf does.

[2016-03-08 21:57] #114 closed

[2016-03-08 21:59] paulirish commented on #114
We've merged this to master.

If you dont want to wait for a new release on npm, you can clone from master and do a `npm link`

[2016-03-08 22:06] stribor commented on #113
The commit was converting text file character encoding from iso latin to utf-8, I extracted small portion of it to show the problem

[diff.txt](https://github.com/so-fancy/diff-so-fancy/files/164029/diff.txt)

in iso latin version ü was encoded as 0xFC and in utf-8 version as 2 bytes: 0xC3 0xBC

might be of interest: [Specials (Unicode block)](https://en.wikipedia.org/wiki/Specials_%28Unicode_bloc

[2016-03-08 22:12] scottchiefbaker commented on #103
@blueyed I didn't know this was a thing... Can you give me the RAW diff output with `mnemonicprefix` enabled (and diff-so-fancy disabled) so I can see it, and work around it?

    git diff --color | base64

[2016-03-08 22:18] vanniktech commented on #112
Well it could also be that I was confused while creating that issue but should not be the change `4` to `6` be in one line since they are both the same line?

The requested output from `git --no-pager diff`:

[1;33mindex a8cde25..32284ef 100644[m
[1;33m--- a/src/main/groovy/com/vanniktech/code/quality/tools/CodeQualityToolsPluginExtension.groovy[m
[1;33m+++ b/src/main/groovy/com/vanniktech/co

[2016-03-08 22:18] scottchiefbaker commented on #113
I understand why this bug would be occurring, but I can't reproduce it with my dev environment. If I pass the diff you posted through d-s-f I don't get any sed errors.

[code]

What version of sed are you running, and on what OS?

[2016-03-08 22:20] scottchiefbaker commented on #112
@vanniktech github really mangled that output. Can you either:

1. Send the output to a file and post the file
2. Repost it in base64: `git --no-pager diff | base64`

[2016-03-08 22:21] vanniktech commented on #114
I also had this issue on my Ubuntu 15.10 though I don't know the perl version that's running on it right now.

[2016-03-08 22:23] blueyed commented on #103
@scottchiefbaker
It's just that it uses different prefixes from "a" and "b":

       diff.mnemonicPrefix
           If set, git diff uses a prefix pair that is different from the
           standard "a/" and "b/" depending on what is being compared. When this
           configuration is in effect, reverse diff output also swaps the order
           of the prefixes:

           git diff

[2016-03-08 22:24] scottchiefbaker commented on #113
Perl has a regexp modifier `/u` to force unicode mode. Maybe we need to use that in our sed calls also? Or maybe we need to move more of the logic in to Perl to avoid some of this.

[2016-03-08 22:24] vanniktech commented on #112
Diff: http://pastebin.com/krXqkyuX
Diff without pager: http://pastebin.com/fwnKSQy0

Oddly there are the same :/

[2016-03-08 22:26] scottchiefbaker commented on #103
Ahhhhh... so file names can be:

1. a/foo.txt
2. b/foo.txt
3. i/foo.txt
4. w/foo.txt
5. c/foo.txt
6. o/foo.txt

Did I miss any? We can work around those in the regexp pretty easily.

[2016-03-08 22:29] scottchiefbaker commented on #112
@vanniktech ok much better output.

Looking at this I don't see any issues with the output on this. From what I can tell diff-so-fancy is doing what it should be here. What were you expecting that you're not seeing?

[2016-03-08 22:40] vanniktech commented on #112
Well it could also be that I was confused while creating that issue but should not be the change 4 to 6 be in one line since they are both the same line?

[2016-03-08 22:45] scottchiefbaker commented on #103
Ok I think I fixed this (and added some tests) on this branch: https://github.com/scottchiefbaker/diff-so-fancy/tree/mnemonic_prefix

The easiest way to test is to download this file: https://github.com/scottchiefbaker/diff-so-fancy/blob/mnemonic_prefix/libs/header_clean/header_clean.pl and overwrite the one in your `libs/header_clean/`

It "works-for-me", can you confirm it works for you. If it d

[2016-03-08 22:50] blueyed commented on #103
@scottchiefbaker
It WFM, too - thanks!

I suggest just matching `./` (regexp) instead (see https://github.com/scottchiefbaker/diff-so-fancy/commit/a3092aca66897e48e342341bd961d41382b7bef9#commitcomment-16575405).

[2016-03-08 22:55] scottchiefbaker commented on #103
Good work team! PR submitted

[2016-03-08 22:56] mmlb commented on #114
:+1: thanks! :tada:

[2016-03-08 23:07] #103 closed

[2016-03-08 23:09] paulirish commented on #98
nice! i think this hits most of the main points yeah.

I'd slightly prefer to show another file header in there, and less of the
big green block.. but i also hate to be nitpicking on what diff to use.. :)

On Tue, Mar 8, 2016 at 1:49 PM, Scott Baker <notifications@github.com>
wrote:

[2016-03-08 23:47] scottchiefbaker commented on #98
I wonder if we shouldn't manufacture some commits just for the purposes of documentation. I looked through like 8 different repos trying to find something perfect and couldn't find anything.

[2016-03-08 23:56] paulirish opened #118 "perl critic in CI"
we have shellcheck running against our bash, which is great.

I think we should also make sure perlcritic exits without error in our tests. probably can help catch issues.

I've found a few projects that do this.
* [ack2/.travis.yml](https://github.com/petdance/ack2/blob/ec4909776b21ac22546275480770a1cbc800c4ec/.travis.yml) installs from cpan without tests (seems good). the makefile is pretty wild

[2016-03-08 23:56] #109 closed

[2016-03-09 00:05] stribor commented on #113
I'm on OS X, which has BSD sed,
from man page bugs section (I added bold as wild guess) :
     Multibyte characters containing a byte with value 0x5C (ASCII `\') may be incorrectly treated as line continuation characters in arguments to the ``a'',
     ``c'' and ``i'' commands.  **Multibyte characters cannot be used as delimiters with the ``s'' and ``y'' commands.**

[2016-03-09 00:06] scottchiefbaker commented on #98
How about this:

![both](https://cloud.githubusercontent.com/assets/3429760/13620818/77d0ac2e-e547-11e5-90f8-bdf9a218905a.png)

I created a bogus branch "screenshot" and pushed it to the repo. We should be able to do `git show 2c24b1d` and always have the same code to generate a screen shot from. What do you think? Do we need any other "examples" in our screenshot?

[2016-03-09 00:15] scottchiefbaker commented on #118
:+1:

[2016-03-09 00:17] scottchiefbaker commented on #113
I don't have OS X to test against, but I'm pretty sure @paulirish does. Are you able to reproduce this @paulirish?

[2016-03-09 00:40] paulirish commented on #113
I fell back to an earlier version and can reproduce this:
![image](https://cloud.githubusercontent.com/assets/39191/13621372/1473ef74-e54c-11e5-929a-8b4e392173d6.png)

however on v0.5.2 and v0.6.0 (which is now our primary release), it's not erroring:

![image](https://cloud.githubusercontent.com/assets/39191/13621399/3f15097a-e54c-11e5-858d-96e2c5cf4905.png)

so.. update to the latest and it wont

[2016-03-09 00:40] #113 closed

[2016-03-09 00:48] paulirish commented on #112
@vanniktech what you're asking for is the output of `git diff --color-words`. it's an option for diff, so we can't set it. and TBH, it is only superior for certain sorts of diffs.. prose/readmes in particular. code, less so much

either way.. it's actually compatible with DSF. :)

![image](https://cloud.githubusercontent.com/assets/39191/13621583/761f3304-e54d-11e5-9d1f-356de2bf1c46.png)

[2016-03-09 00:49] paulirish commented on #112
@vanniktech if you want to add this as a protip to the readme, hook us up with a PR!

[2016-03-09 01:45] paulirish commented on #98
love it. i tweaked screenshot branch a tad more.

and here's what i got for results:

![image](https://cloud.githubusercontent.com/assets/39191/13622719/7cc7c54c-e555-11e5-86c4-7045d91af041.png)

[2016-03-09 04:22] scottchiefbaker commented on #98
Perfect, love it. Ship it!

[2016-03-09 07:14] stribor commented on #113
I still get it with latest version (also had it with v0.5.2) under mac os 10.11
![screen shot 2016-03-09 at 8 12 35 am](https://cloud.githubusercontent.com/assets/1141923/13628000/ebafc31e-e5ce-11e5-84b0-1a1df0d4f286.png)

[2016-03-09 08:20] #98 closed

[2016-03-09 09:03] stevemao opened #119 "Use of uninitialized value $new_offset in addition (+) at /GitHub/diff-so-fancy/libs/header_clean/header_clean.pl line 75, <> line 63."
In this repo, do

[code]

`git --no-pager show 74804e377d4a54d1173d4393827d4e4b27e4d5d0 | base64`
Y29tbWl0IDc0ODA0ZTM3N2Q0YTU0ZDExNzNkNDM5MzgyN2Q0ZTRiMjdlNGQ1ZDAKTWVyZ2U6IDNmYjdjZDcgNTlhZWJiZApBdXRob3I6IFBhdWwgSXJpc2ggPHBhdWwuaXJpc2hAZ21haWwuY29tPgpEYXRlOiAgIFR1ZSBNYXIgOCAxNTo1Njo0OSAyMDE2IC0wODAwCgogICAgTWVyZ2UgcHVsbCByZXF1ZXN0ICMxMTAgZnJvbSBwYXVsaXJpc2gvaHVua3N0YXJ0bGluZWZpeAogICAgCiAgICBDaGFuZ2

[2016-03-09 09:06] stevemao opened #120 "line number of diff is incorrect."
[code]

`@ package.json:4 @` should be `@ package.json:3 @`

[2016-03-09 10:11] vanniktech commented on #112
Alright then sorry for the confusion. I don't think it's necessary as a pro tip to the readme since it's git specific. Anyway thanks :+1:

[2016-03-09 10:11] #112 closed

[2016-03-09 16:05] scottchiefbaker commented on #120
This is a known bug that I don't have a good work around for. The raw chunk header for that request is `@@ -1,6 +1,6 @@` which indicates the line changes **start** on line one. We assume there are three lines of context so we add three to the start line (one) and end up with four. If the changes are in the first three or last three lines of a file there will be less context and the math will be of

[2016-03-09 16:23] scottchiefbaker commented on #119
@paulirish #122 does fix this issue. Also, all the existing tests pass with that fix also.

Should be pretty simple to add a test for:

 `@@@ -105,13 -104,21 +104,23 @@@` parsing to `@ header_clean.pl:107 @`

[2016-03-09 17:11] paulirish commented on #119
reopening until we have a test added.

[2016-03-09 18:49] paulirish commented on #120
This number is configurable, but I didnt' see a way that we could query for it.

I was skeptical this was a good idea, but after trying to make use of the line numbers without the +3, it was really confusing.

btw, the hunk context doesnt necessarily show the source from that line, but will often show the function name. this depends on the language used. see http://stackoverflow.com/questions/2811

[2016-03-09 18:52] paulirish commented on #120
FOUND 'em!  https://github.com/git/git/blob/ab5d01a29eb7380ceab070f0807c2939849c44bc/userdiff.c#L15-L152

![image](https://cloud.githubusercontent.com/assets/39191/13646604/0b86d96e-e5e5-11e5-9ff6-4280b4fae393.png)

[2016-03-09 19:07] paulirish commented on #120
i threw a bunch of links into our wiki that documents this stuff a tad better: https://github.com/so-fancy/diff-so-fancy/wiki

[2016-03-09 19:08] paulirish commented on #114
This is now shipped in 0.6.1+

[2016-03-09 19:08] paulirish commented on #113
we're now at 0.6.2.  homebrew is a bit behind our npm distribution.

[2016-03-09 19:12] stribor commented on #113
same thing still happens with 0.6.2

[2016-03-09 19:29] scottchiefbaker opened #124 "Should diff-so-fancy work on non-colored diffs?"
Before I go too far down this rabbit hole... are we supporting diffs that are not colored? I found a bug in a black and white diff that I might look at fixing, if we support that.

[2016-03-09 19:55] paulirish commented on #124
Good question.

it looks like we mostly work right now even when there's no color.

if colors are forced to "never", diff-highlight does a b/w job:

![image](https://cloud.githubusercontent.com/assets/39191/13648435/6ccbd532-e5ed-11e5-8dd9-6438a2c2d95a.png)

but default is that there are colors, just not shared into pipes. pipes needs "always"

I don't think it's worth it to support uncolored outp

[2016-03-09 21:57] paulirish opened #126 "Support 3-way merge commits"
Currently DSF doesn't correctly format output when viewing 3-way merge commits. There shouldn't be errors, but we misformat the diff, as there can be an extra layer of indentation.

Example:
<a href="https://cloud.githubusercontent.com/assets/39191/13648024/a3fbad72-e5eb-11e5-8921-7dc211648209.png"><img src="https://cloud.githubusercontent.com/assets/39191/13648024/a3fbad72-e5eb-11e5-8921-7dc21164

[2016-03-09 22:02] #119 closed

[2016-03-10 07:36] lode commented on #126
As far as I know this more commonly happens with:

- `git diff` after ending up in a merge conflict
- `git diff` after ending up in a stash pop conflict

[2016-03-10 09:34] stevemao commented on #119
Hmmm.. I actually wanted #126 to be fixed. Linking the issue for posterity :)

[2016-03-10 09:40] stevemao commented on #126
Just to summarise the discussion in scott's fork, there might be an n-way merge :) So all we need to do is to count how many number sequences in the header between `@@@`s

Git is really crazy... I wonder how many people actually cares about n-way merge and count the beginning spaces. lol

[2016-03-10 12:21] lode commented on #126
But how do you want to solve it? It is not really nice to remove the +/- signs as we do with normal diffs.
Maybe DSF should even revert to removing them at all for n-way merges? So by default they are hidden, and for n-way merges, all are shown as normal.

[2016-03-10 17:54] paulirish commented on #126
git doesn't support 4 way merge, so the 3 way is the most complex we'll
have to deal with.

[2016-03-14 16:23] ephexeve opened #127 "Debian package"
For those interested, I have created a package for Debian (currently tested on the current Testing version). You can find the package [here](https://code.benmezger.nl/?p=deb-packages.git;a=tree;f=misc/diff-so-fancy;h=bccfd5f3ebbd54b87736cf8dde52932b8586fd01;hb=HEAD)

[2016-03-14 16:42] scottchiefbaker commented on #127
:+1:

[2016-03-14 22:25] stevemao commented on #127
Nice. @ephexeve Can you add installation guide here?
Thanks

[2016-03-15 02:03] ephexeve commented on #127
Sure!

To install the package I created:
1. Make sure you verify the git commit using my [PGP public key](http://hkps.pool.sks-keyservers.net/pks/lookup?op=get&search=0xF2403AC05942EE08) doing a `git log --show-signature` (in case of laziness: `shasum 256: 745bb25bcb00aa00b837be678942332448fef877df522b011d367efed1f9a01d`)
2. run `sudo dpkg -i diff-so-fancy_0.6.3.deb`

To build your custom package:

[2016-03-15 17:16] paulirish commented on #120
@scottchiefbaker can we adjust the line calculation if N is <= 3?

[2016-03-15 17:27] scottchiefbaker commented on #120
I'll need some help with the logic. If I have a change on the first line the (raw) diff looks like this:

[code]

Currently we iterate over each line of the file, when we find a diff hunk we mangle that to output the new header. I won't know how many lines of context unless we parse the actual body of the diff, which gets a lot more complex. Or is there another way I'm missing.

[2016-03-15 17:32] scottchiefbaker commented on #120
If I make a change on line 2 I get: `@@ -1,5 +1,5 @@`, if I make a change on line 3 I get '@@ -1,6 +1,6 @@'. It's not until the 5th line does the header indicate anything other than 1/-1

[2016-03-15 17:35] paulirish commented on #35
An update here:

@peff put up a patch on the git mailing list (thank you, btw! so perfect). and it's now been [merged](http://lwn.net/Articles/678463/) into git's next branch.

![image](https://cloud.githubusercontent.com/assets/39191/13787036/793aba64-ea97-11e5-9eba-5c4d6ea7a4d9.png)

commit: https://github.com/git/git/commit/01143847dbf4fbf27268650f3ace16eac03b3130

When it's available in git's

[2016-03-15 17:57] peff commented on #35
@paulirish You're welcome. I'll be interested to hear whether diff-so-fancy users run into problems with things like hunk-splitting. The colorization code in `add--interactive` relies on a one-to-one correspondence between the stock and fancy diff lines. diff-so-fancy doesn't _quite_ do that, but I think the line counts add up, so it should work OK in practice. Caveat emptor. :)

[2016-03-15 17:58] scottchiefbaker commented on #120
Ok I think maybe I got it... What do you think about this raw data:

[code]

Using that logic I wrote this function:

[code]

[2016-03-15 18:20] scottchiefbaker commented on #120
Ok I'm replying to myself because all the cool kids are doing that these days. I *think* I have the logic applied in a branch on my repo. Will someone please test this out and see if it does what you want it to: d1a4c91

If so I'll submit a pull request.

[2016-03-15 18:28] scottchiefbaker opened #129 "Allow runtime changing of diff-so-fancy options by reading from ~/.gitconfig"
Per @paulirish I'm creating a new issue for gitconfig stuff...

-----

I just posted a starter branch on my repo. Specifically the code would look something like:

https://github.com/scottchiefbaker/diff-so-fancy/blob/gitconfig/libs/header_clean/header_clean.pl#L10

and

https://github.com/scottchiefbaker/diff-so-fancy/blob/gitconfig/libs/header_clean/header_clean.pl#L171

It allows us to set run-

[2016-03-15 18:28] scottchiefbaker commented on #129
This would allow us to solve #69

[2016-03-15 18:30] paulirish commented on #129
Nice.

Is there convention for making sure all options that override default behavior must be set to "true"?  Wording is hard, but we may want to sort that out first.

[2016-03-15 18:33] scottchiefbaker commented on #129
I was thinking the opposite. The current toggleable (is that a word) options are:

[code]

All default to true, and you explicitly turn OFF the behavior? I can see it either way.

[2016-03-15 21:35] paulirish commented on #129
Perhaps they might look something like...

[code]

And they default to 'auto'

[2016-03-15 21:36] paulirish commented on #129
(revised the naming in my comment)

[2016-03-15 21:38] scottchiefbaker commented on #129
My thinking was... without ANY config dsf performs as it does now (strips symbols, adjust hunks, etc). You "opted in" when you install dsf, in other words all the options default to "on" (true). If you want to disable one of the runtime options you add that to your config and set it to false.

The always/never syntax only makes sense to me if there is a third option (only in GUI, etc), otherwise w

[2016-03-16 06:59] paulirish commented on #129
k sounds good.

[code]

[2016-03-16 12:01] stevemao commented on #129
`markEmptyLines` shouldn't be an option I think... Whenever `stripLeadingSymbols` is `true`, `markEmptyLines` must be `true`. Vice versa.

[2016-03-16 16:00] scottchiefbaker commented on #129
@stevemao `markEmptyLines` highlights in green or red any added/removed line that is just whitespace. Specifically an empty line, that's just a `\n`. That and `stripLeadingSymbols` aren't really connected.

Honestly, this whole thing started because I'm not a fan of `markEmptyLines` and I wanted a way to disable them :) But I **do** want to get rid of the leading `-` and `+`.

[2016-03-16 17:16] stevemao commented on #129
You can't tell whether a line is added or removed then?

[2016-03-16 17:49] scottchiefbaker commented on #129
In the example from our docs:

![Example](https://cloud.githubusercontent.com/assets/39191/13622719/7cc7c54c-e555-11e5-86c4-7045d91af041.png)

The forth line from the bottom has a red square indicating there was a removed (blank) line there. That's what I want to allow the usable to disable. That blank line indicator is not explicitly tied to removing the `+` and `-`. It's already working on my `g

[2016-03-17 17:25] scottchiefbaker commented on #126
If there is a three way merge, will the entire diff be a three-way merge? Or is is possible to have ONE file be a three way merge, and another file just be a two-way merge? I'm going to tackle this today, shouldn't be too gnarly.

[2016-03-17 22:37] stevemao commented on #120
I'll add tests for this.

[2016-03-17 23:22] scottchiefbaker commented on #120
:+1:

[2016-03-18 15:23] adzenith opened #133 "Whole diff is not displayed (it's cut off)"
I have a diff that's 117,038 lines (adding an SDK). Diff-so-fancy cuts out mid-file after line 4312, which in this case works out to 258,737 characters. Any ideas?

[2016-03-18 15:25] scottchiefbaker commented on #133
There is not automatic cut-off. If anything it would just be really slow parsing all that raw text. My guess would be that there is some of content that's making dsf barf near that line. Is the diff something that you can post so we can look at it?

[2016-03-18 15:30] adzenith commented on #133
I can post the output of `git-show`—would that be useful?

[2016-03-18 15:31] scottchiefbaker commented on #133
Can you disable d-s-f and then do a `git show --color > broken-diff.raw` and then post that somewhere I can look at it. That will preserve the ansi-codes so I can see it all together.

[2016-03-18 15:35] adzenith commented on #133
https://www.dropbox.com/s/yecq9n79xdffroo/broken-diff.raw?dl=0

[2016-03-18 15:54] scottchiefbaker commented on #133
Is this run through `diff-highlight` or something similar it doesn't look like raw `git show` output. The diff headers are blue/gray?

[2016-03-18 15:58] scottchiefbaker commented on #133
That diff is 131451 lines raw. If I pass it through d-s-f it takes 3.82 seconds and outputs 131969 lines. All of that seems normal to me. In other words "it's not breaking for me". Can you tell me more about your platform? Can you give us the versions of: OS, Perl, Bash, and Git?

[2016-03-20 17:48] megalithic commented on #35
@peff thanks for implementing this for interactive adds; from what you've seen in the code base, does it seem possible to relatively easily implement for interactive commits, e.g. `--verbose`?

thanks again!

[2016-03-21 06:12] peff commented on #35
@megalithic I'm not quite sure what you mean. If you mean `commit --interactive`, that should work already with my patch (along with `checkout -p`, `reset -p`, etc, as they are all fed by the `add--interactive` script).

The `commit --verbose` code path is quite different, and is all done internally, with no separate processes. I suspect it would not be too hard to add an option to tell git to run

[2016-03-21 17:30] paulirish commented on #35
@peff i built git from the `next` branch but so far I'm unable to get the patch working..

I'm doing `~/code/temp/git/git add -p` and I have this in my `~/.gitconfig`:

[code]

But I'm seeing full headers, lines of context for each prompt. Any suggestions?

[2016-03-21 18:08] peff commented on #35
@paulirish I assume `~/code/temp/git/git` is your build directory. Running it directly from there means that git will still find the older version of any external programs (like the `git-add--interactive` helper) in your `$PATH`.

Either install it (with `make install PREFIX=/wherever...`) and run it from the installed directory, or run it at `~/code/temp/git/bin-wrappers/git add -p`, which will a

[2016-03-22 04:35] paulirish commented on #35
ah thanks. That sounds like the ticket. will try.

[2016-03-22 04:50] #120 closed

[2016-03-22 04:54] paulirish commented on #35
It works!

![image](https://cloud.githubusercontent.com/assets/39191/13942329/6a7ff252-efae-11e5-9152-81fac005b0c8.png)

![image](https://cloud.githubusercontent.com/assets/39191/13942348/becb6936-efae-11e5-829d-e425e919bcdd.png)

<hr>

... however it looks like we're getting an error..

 it could very likely be however we're handling the output. cc @scottchiefbaker .. you can see the hunk headers

[2016-03-22 05:00] paulirish commented on #126
scott is this good to close now?

[2016-03-22 05:09] peff commented on #35
The problem is that git doesn't actually re-parse the filtered output (nor would you want it to, since it doesn't understand your fancy output). It just assumes that line 1 of the diff corresponds to line 1 of the filtered output, and so on.

The diff header has 4 lines (`diff --git...`, the `index` line, and the `---`/`+++` lines), but your fancy output only has 3 (the two border lines, and the f

[2016-03-22 05:20] stevemao commented on #35
Is there a way to make an offset somehow? Or even fake it?
If not, we have to add empty lines to make it work (Paul might be sad about it).
Thanks @peff for the help!

[2016-03-22 05:24] paulirish commented on #35
sounds like we can add empty lines at the end to make the line count match.
seems fine!​

[2016-03-22 05:55] stevemao commented on #35
You must mean after `-------------------------------------` and before `@....@`

[2016-03-22 09:19] #126 closed

[2016-03-22 10:41] stevemao commented on #133
@adzenith Can you run the command provided in https://github.com/so-fancy/diff-so-fancy#reporting-bugs?

[2016-03-22 10:44] stevemao commented on #124
@scottchiefbaker what is the bug exactly? I think we should only process whatever diff-highlight outputs.

[2016-03-22 14:30] adzenith commented on #133
Hey! Sorry I lost track of this. Here's the file it created:
https://www.dropbox.com/s/eevcyikl1dly2sk/diff.txt?dl=0
The output in that file appears to have more of the diff than shows when I run the command myself in the terminal: https://www.dropbox.com/s/xh0aefk68zpnnux/terminal.png?dl=0

OS: OS X 10.11.4 Beta (15E61b)
Perl: v5.18.2
Bash: 3.2.57(1)-release
Git: 2.7.4

[2016-03-22 16:22] scottchiefbaker commented on #124
I was wrong... the bug was three-way merge, not black and white. I'll close this for now, but it's something we should consider in the future.

[2016-03-22 16:22] #124 closed

[2016-03-28 16:24] scottchiefbaker commented on #129
Updated my `gitconfig` repo with all the latest bits merged, and everything else updated.

[2016-03-29 13:26] lilydjwg opened #137 "Failed to parse this diff, error is fileparse(): need a valid pathname"
[code]

colordiff can do with it, but diff-so-fancy fails with:

[code]

[2016-03-29 14:23] scottchiefbaker commented on #137
It's because of this diff header:

    diff -r 62e478a3f1c8 -r 47aeb87ce9cd doc/manual.xml.head

What git command did you run to get a diff header like that? Our detection looks like this:

https://github.com/so-fancy/diff-so-fancy/blob/master/lib/diff-so-fancy.pl#L28

[2016-03-29 20:22] scottchiefbaker commented on #137
@paulirish, @stevemao is diff-so-fancy git specific? Should we look at supporting standard `diff -u` diffs at some level? I have a minor fix queued that addresses this issue, as well as `diff -u` as well. I'm not sure if it's within the scope of this project.

It's a minor 13 line fix if we want to support/work around this non-standard diff output.

[2016-03-29 20:25] scottchiefbaker commented on #133
It looks like your running pretty modern tools (that's good). I don't think your tool versions are the issue.

I'm unable to recreate this failure, is anyone else able to recreate?

[2016-03-29 23:57] lilydjwg commented on #137
It's not from git, it's from a maillist. Maybe it's generated by hg. It's not easy to find where the difference is so I tried diff-so-fancy.

[2016-03-30 00:20] stevemao commented on #137
I don't understand. So the `.diff` file is not generated by git? I don't think we should support any arbitrary `.diff` files

[2016-03-30 01:51] lilydjwg commented on #137
Sorry, I didn't think diff-so-fancy is a git only tool, as I didn't encounter a diff that colordiff, wdiff, patch or git apply don't support.

[2016-03-30 02:19] stevemao commented on #137
@lilydjwg in short, we only supports things that `diff-highlight` supports. Nothing more :)
cc @paulirish

[2016-03-30 03:38] scottchiefbaker commented on #137
I think we can modify d-s-f to support raw diffs pretty easily. I think "officially" this is a git tool, but unofficially it could be used on standalone diffs. @lilydjwg has the perfect use case for this type of application.

Unless there are any specific objections, I think I'll land the fix for this use case tomorrow.

[2016-03-30 04:10] stevemao commented on #137
@scottchiefbaker if so, we should probably split `lib/diff-so-fancy.pl` into smaller modules.

[2016-03-30 22:22] bronson opened #140 "diff-so-fancy slurps entire git log -p output? very slow"
Using Feb 7th's diff-so-fancy, `git log -p` and `git log --stat` would display immediately.

Using today's diff-so-fancy, `git log --stat` takes many seconds to complete and `git log -p` hangs for a few minutes and then bombs out.

A guess: it looks like some change in the past 1.5 months made it so diff-so-fancy is now trying to slurp the entire output before displaying the results.

My repo has

[2016-03-30 22:26] stevemao commented on #140
I don't think you should use `diff-so-fancy` for log pager.

As per readme:
[code]

[2016-03-30 22:31] scottchiefbaker commented on #140
I agree with @stevemao. d-s-f is designed to process small diffs (commits) in to human readable form, not to parse hundreds of thousands of lines.

My guess for the slowness is that we remove all the leading `+` and `-` from the diff before we process any actual content. It'd be pretty hard to work around that for this one use case.

[2016-03-30 22:38] bronson commented on #140
Ah, the recommended config changed on Feb 12: 5f7422aa38c0bd16640f85dc2f02b72f85e8af88

Updated my config to match and all is fine.  Thanks.

[2016-03-30 22:41] bronson commented on #140
That said....   it's interesting that Feb 7th's d-s-f could handle being the core.pager and today's can't.

[2016-03-31 02:46] #137 closed

[2016-03-31 20:39] blueyed commented on #140
I agree that it would be better if it still could be used with `log`.

It would be helpful to find the commit that caused this (using git-bisect) and then improve upon that.
Even if the removal/processing of all +/- would cause this, this could still be done in a pipeline then probably?!

[2016-03-31 20:47] scottchiefbaker commented on #140
I think @bronson found it at a6b5801. That's the commit where we switched most of the backend from sed to Perl so we could do fancier things with the output display. We can investigate the slowness, but I can't make any guarantees as this use case is a little outside the scope of the project.

[2016-03-31 20:54] blueyed commented on #140
It should still be possible to not read the whole input, but process it in chunks (e.g. 8kb).

[2016-03-31 21:29] scottchiefbaker commented on #140
If I use a 60MB `git log -p` output I see the following:

* 1 second to load the whole input in to memory
* 7 seconds to clean up the input before we process anything

The rest of the time is spent looping through each line one by one... I imagine the problem is the second one (depending on how much input we're talking). As a work around you can completely disable the line pre-processing by commen

[2016-03-31 21:51] blueyed commented on #140
@scottchiefbaker
Thanks for investigating.

Looks like the `clean_up_input` should be moved inside of the loop?!

[2016-03-31 22:22] bronson commented on #140
@blueyed agreed, the problem appears to be that this script slurps the entire file before processing.  Moving the `<>` into the loop seems like it would bring the old behavior back.

[code]

But it seems like this script goes out of its way to slurp everything before processing...  not sure if there's a reason for that.

[2016-03-31 22:26] scottchiefbaker commented on #140
This actually ended up not being too insane to solve, and it will give us other performance improvements. Can you test the branch I just posted here:

https://github.com/scottchiefbaker/diff-so-fancy/tree/pipeline

If I use my 60MB input now, I get output on the screen immediately. I moved back tp processing the input line by line instead of buffering the whole input. This is a little more complex

[2016-03-31 22:27] scottchiefbaker commented on #140
Also, most importantly, we still pass all tests.

[2016-03-31 22:37] bronson commented on #140
@scottchiefbaker looks great!

It appears nobody uses `$i` anymore...  seems like you can drop those lines too?

And, if anyone needs a line number in the future, maybe they could use `$.`.

[2016-03-31 22:38] scottchiefbaker commented on #140
True... `$i` is used to check if it's the first line. I was going to use it other places, but ended up not needing it. It's fine for now. I'll reopen this since we have a fix and wait for feedback on whether it does what you want or not.

[2016-03-31 22:49] bronson commented on #140
@scottchiefbaker just tried it out, everything appears to work perfect.  Even `git log -p` in rails/rails.

[2016-03-31 22:49] scottchiefbaker commented on #140
How big is rails/rails?

[2016-03-31 22:53] bronson commented on #140
Dunno, doesn't matter!  :)  Now d-s-f blocks before getting very far.

Over 57,000 commits, gotta be hundreds of MB if one lets it run to
completion.

On Thu, Mar 31, 2016 at 3:49 PM, Scott Baker <notifications@github.com>
wrote:

[2016-04-01 02:27] scottchiefbaker commented on #140
@stevemao @paulirish what do you guys think? Should we merge this even though it's outside the scope of regular d-s-f?

[2016-04-01 02:34] stevemao commented on #140
It's not out of the scope. being smart on processing the lines will give performance boost on `git diff` too.

[2016-04-01 13:38] blueyed commented on #140
Thanks, @scottchiefbaker!
Please create a PR for it.

[2016-04-02 13:05] stevemao commented on #127
@ephexeve I pull-request would be great :)

[2016-04-04 15:16] scottchiefbaker commented on #140
This is merged so I'm closing this issue now.

[2016-04-04 15:16] #140 closed

[2016-04-04 15:46] OJFord opened #145 "'trailing spaces warning' looks like deletion"
By default (?) whitespace on an otherwise blank line is highlighted red.

Though this may well be a slightly different colour (indeed it is with git and DSF defaults), it's easy to confuse with a deletion.

Suggestion: colour it green - it's an addition after all!
Problem: suggestion indistinguishable from present newline representation when only one space.

This could perhaps be solved by inserti

[2016-04-04 15:51] bronson commented on #140
Love it, great job!

[2016-04-04 15:56] scottchiefbaker commented on #145
If you do

    git show 22b045fbfa871e6a86ef4e72164e009754ea7d56

On the diff-so-fancy repo that should contain "added" empty lines, and they should be highlighted green. Is that what you're trying to report.

[2016-04-04 16:17] OJFord commented on #145
@scottchiefbaker No - an _added_ line with trailing whitespace has _red_ highlighted whitespace (as a warning that you probably didn't mean to do this) by git.

This is similar enough to `diff-highlight`s red (and could be identical if so configured) that it could be confused for _deleted_ whitespace.

I'm not sure if there's a way to override this, or if the best we could do would be to advise us

[2016-04-04 16:18] scottchiefbaker commented on #145
Can you give us an example screen shot? One with raw `git diff --color` and another one piped through d-s-f?

[2016-04-05 00:38] stevemao commented on #145
@OJFord
Is it the same as #85?
Does Jeff's answer make sense to you?

[2016-04-05 23:39] stevemao commented on #129
So the user doesn't know if this empty is a removal or addition if there is no `+/-` nor colour.

[2016-04-06 07:40] wzyboy opened #148 "Recognize PGP signature block"
Signed tags contain PGP blocks, which start with `-----BEGIN PGP SIGNATURE-----` . With diff-so-fancy enabled, the one of the five dashes (and lines starting with `+`s) would be mis-recognized as a part of diff:

![screenshot_2016-04-06_15-33-10](https://cloud.githubusercontent.com/assets/459384/14309155/30d28ec8-fc0d-11e5-8eaf-42e423b8b571.png)

In the screenshot above, the header and footer of t

[2016-04-06 07:49] wzyboy commented on #148
Ah, I see this was fixed in https://github.com/so-fancy/diff-so-fancy/commit/c3a141b7e60c597a38426fa709b6a0e3bd7fe766 . Updated and everything works! Sorry for bothering.

[2016-04-06 07:49] #148 closed

[2016-04-06 09:10] OJFord commented on #145
@stevemao Ah, probably the same cause - I was seeing it on otherwise empty lines so I didn't make the connection.

@scottchiefbaker
![spaces](https://cloud.githubusercontent.com/assets/3946014/14311374/e9763396-fbde-11e5-8a19-b04aa479d46a.png)
(Excuse the odd symbols, haven't fixed the font on this machine yet!)

With/out DSF is no different, since git does this. My point in opening the issue was

[2016-04-06 09:11] OJFord commented on #145
@stevemao Actually yes, re-reading that - it's exactly the same and that makes sense.

It's a shame, but it makes sense.

[2016-04-06 09:11] #145 closed

[2016-04-06 14:58] scottchiefbaker commented on #148
Glad we could help!

@blueyed you solved a problem I didn't know we were having.

[2016-04-07 15:04] blueyed opened #149 "Files are considered to be renamed when using rev1:file..rev2:file"
[code]

With g-d-f the header is displayed as:

[code]

I think any `^\w:` should be removed when comparing files here.

[2016-04-12 20:50] mohsen1 opened #150 "Show JSON diffs for JSON files"
JSON diff is easier to digest than text diff for JSON files.

### Text diff
![screen shot 2016-04-12 at 1 48 23 pm](https://cloud.githubusercontent.com/assets/543633/14475145/5270b77e-00b5-11e6-8c31-58ea1dbe2b71.png)

### JSON Diff
![screen shot 2016-04-12 at 1 48 13 pm](https://cloud.githubusercontent.com/assets/543633/14475149/58e561ea-00b5-11e6-9c46-118b7f2bcdfe.png)

Can diff-so-fancy detect J

[2016-04-12 23:14] stevemao commented on #150
I didn't know `jsondiffpatch` before. Thanks for the recommendation :) I think we could add a link to that and add a script how you can use it with our module to README.

[2016-04-13 00:51] paulirish commented on #150
Hey man! Good to see you around these parts. :)

I actually find this diff harder to read.. The version bumps in partially

[2016-04-13 00:54] paulirish commented on #150
Amended comment

[2016-04-21 06:25] paulirish opened #151 "add documentation for gitconfig"
Now that https://github.com/so-fancy/diff-so-fancy/pull/141 is landed, lets get the docs added to the readme, so people know how to use it!

[code]

they are all true by default, should be set to false to disable.

[2016-04-21 06:26] paulirish commented on #129
mostly closed by #141. followups filed elsewhere

[2016-04-21 06:26] #129 closed

[2016-04-21 06:26] #127 closed

[2016-04-21 06:27] paulirish commented on #69
this is now available as of #141

just requires some twiddling of git config params.. docs to be written (#151)

[2016-04-21 08:17] blueyed commented on #69
For reference, the option is:

[code]

With this, you can then also use `markEmptyLines = false`, and have a `-` there instead of a red square.

[2016-05-11 01:05] #151 closed

[2016-05-11 01:12] stevemao commented on #151
Hi @paulirish , I've added some docs on this. Feel free to suggest changes :) thanks.

[2016-05-11 04:02] paulirish commented on #151
well done! lgtm

[2016-05-13 16:40] williamboman commented on #72
I'm having this issue on Ubuntu 14.04.4 LTS
![screenshot 2016-05-13 at 18 36 24](https://cloud.githubusercontent.com/assets/6705160/15254957/a20e12c6-1939-11e6-8716-ddafe38538b2.png)

[2016-05-13 16:55] scottchiefbaker commented on #72
@williamboman what terminal is that? I'm guessing the terminal isn't properly handling the long dash `\xe2\x94\x80`. Have you tried another terminal?

[2016-05-13 16:58] williamboman commented on #72
iTerm2.

![screenshot 2016-05-13 at 18 57 27](https://cloud.githubusercontent.com/assets/6705160/15255488/9181af8c-193c-11e6-9c39-c6feb862db45.png)

[2016-05-13 16:59] scottchiefbaker commented on #72
Try changing line 50 of `diff-so-fancy` to just

[code]

[2016-05-13 17:01] williamboman commented on #72
<img width="900" alt="screenshot 2016-05-13 at 19 00 38" src="https://cloud.githubusercontent.com/assets/6705160/15255572/01b77a48-193d-11e6-8f83-24e8906eb2ab.png">

[2016-05-13 17:03] scottchiefbaker commented on #72
If your terminal handles that correctly try changing that line to:

[code]

[2016-05-13 17:06] williamboman commented on #72
Hm, same issue as before.

[2016-05-13 17:37] scottchiefbaker commented on #72
The old version of this file had that function as one line:

[code]

Try that?

[2016-05-13 17:49] williamboman commented on #72
Still same as before. The issue exists on all "minor" versions. I'll be happy just monkey-patching it to use `-` instead though (feel free to ask questions if you wanna debug it though). Thanks!

[2016-05-13 17:51] scottchiefbaker commented on #72
You're using iTerm2?

http://iterm2.com/

On Ubuntu? I can't test with this. @paulirish runs diff-so-fancy on OSX, maybe he has feedback? I only have Linux.

[2016-05-13 17:52] williamboman commented on #72
Using iTerm2 to ssh into an Ubuntu server.

[2016-05-13 19:09] adzenith commented on #133
Sadly this is still happening to me :( Any other details that might help?

[2016-05-13 19:26] paulirish commented on #133
Can't repro. :/

[code]

![image](https://cloud.githubusercontent.com/assets/39191/15259188/a33e7bb6-1904-11e6-8817-409c538ecdc5.png)

##### software:
* os x 10.11.4 (15E65)
* perl v5.18.2
* bash 4.3.42(1)-release
* git 2.7.2

Also tested with fish version 2.2.0-436-gef67fc7. same experience.

[2016-05-13 21:14] adzenith commented on #133
How strange... I'll let you know if I figure anything else out!

[2016-05-13 22:19] stevemao commented on #72
I use iTerm2 2.1.4 on OSX 10.11.4 with the latest dsf, no problem

@williamboman maybe worth it to post the versions?

[2016-05-13 22:53] williamboman commented on #72
iTerm2 Build 2.9.20160510
Ubuntu 14.04.4 LTS
sed (GNU sed) 4.2.2
diff-so-fancy@0.9.1
perl v5.18.2
bash 4.3.11(1)

[2016-05-14 00:14] scottchiefbaker commented on #72
Is it a font thing? What font-face are you using @williamboman?

[2016-05-16 03:52] alex opened #155 "Highlight binary files appropriately"
Normal diff sections are nicely formatted like:

[code]

with bright white text. However binary files have a far more plain, and easily missed:

[code]

in boring gray.

It'd be awesome if that `Binary files [a] [b] differ` line was nicer looking and better distinguished from the rest of the text

[2016-05-16 06:07] #150 closed

[2016-05-16 16:24] scottchiefbaker commented on #155
Good catch... I think I was able to fix that, while adding some performance improvements as well. Try replacing your `lib/diff-so-fancy.pl` with this one:

https://github.com/scottchiefbaker/diff-so-fancy/blob/binary-file-header/lib/diff-so-fancy.pl

If this does what you want it to I'll send a PR to get it landed in the next version.

[2016-05-16 16:31] scottchiefbaker commented on #69
Feature is implemented, docs are written, any reason to leave this issue open?

[2016-05-16 16:37] scottchiefbaker commented on #149
The issue here appears to be the `stash:` on the filename? I've never done a diff on a stash before. I'm not even sure how to read this syntax. The line in question is:

    diff --git a/stash:bin/ptw-watch-tests..update-ptw-watch-tests:bin/ptw-watch-tests b/update-ptw-watch-tests:bin/ptw-watch-tests

Currently the logic for detecting the file names is [here](https://github.com/so-fancy/diff-so-fa

[2016-05-16 16:39] scottchiefbaker commented on #133
@adzenith looks like you're just special :)

What is your use case for wanting d-s-f when you're adding this much text? Are you really going to read it all, or is this just to see if it works?

[2016-05-16 16:58] aristidesfl commented on #69
I guess not 👍

[2016-05-16 16:58] #69 closed

[2016-05-16 19:33] adzenith commented on #133
Aw I'm special! 🌟  :)

I had d-s-f set up as my default pager, so whenever I view any amount of text it was being processed through it. This particular diff was updating an SDK so it was quite large. Most of the time d-s-f is amazing, but every once in a long while I get really confused when a search through a diff doesn't produce any results because it was cut off.

[2016-05-16 20:15] scottchiefbaker commented on #155
Sorry I got confused... there is another script that I updated also. Probably easiest to check out the whole repo and see if it fixes the problem or not.

https://github.com/scottchiefbaker/diff-so-fancy/tree/binary-file-header

[2016-05-16 20:19] scottchiefbaker commented on #72
I had to completely rework the horizontal-rule code for something unrelated. I'm curious if that work will fix this issue as well. Can you try out this branch:

https://github.com/scottchiefbaker/diff-so-fancy/tree/binary-file-header

The original code uses the ['BOX DRAWINGS LIGHT HORIZONTAL'](http://www.fileformat.info/info/unicode/char/2500/index.htm) character to draw that line. I thought it w

[2016-05-16 22:11] williamboman commented on #72
Nope :/

![](http://i.imgur.com/QG4r0RN.png)

[2016-05-16 22:33] scottchiefbaker commented on #72
If you uncomment line 369 and comment out line 371 (i.e. use em-dash instead of box-drawings), does it work?

[2016-05-16 22:37] williamboman commented on #72
Nope
![screenshot 2016-05-17 at 00 36 42](https://cloud.githubusercontent.com/assets/6705160/15306026/7315ad86-1bc7-11e6-857e-1e215461d053.png)

[2016-05-16 22:38] scottchiefbaker commented on #72
Man that is some funky unicode weirdness you've got going on there. I don't know what else it could be, and I can't test iTerm2 very easily :(

[2016-05-16 22:42] williamboman commented on #72
I can repro with Terminal.app, iTerm2.app, [Chrome Secure Shell App](https://chrome.google.com/webstore/detail/secure-shell/pnhechapfaindjhompbnflcldabbghjo?hl=en) and stock Ubuntu Trusty terminal.

[2016-05-16 22:43] scottchiefbaker commented on #72
What font-face are you using? I wonder if that font doesn't have those particular code points?

[2016-05-16 22:49] williamboman commented on #72
Setting `LC_CTYPE=en_US.UTF-8` fixed it.

[2016-05-16 22:50] scottchiefbaker commented on #72
What was it before?

[2016-05-16 22:52] williamboman commented on #72
It was unset

[2016-05-16 22:53] scottchiefbaker commented on #72
Excellent... well it's good to know that was the fix. I'm pondering if that's something we shouldn't check for at run time? Or at least in our tests?

[2016-05-16 22:53] williamboman commented on #72
Actually, it stops working inside a tmux session 😅

[2016-05-16 23:33] stevemao commented on #133
screenshots? @adzenith

[2016-05-16 23:59] adzenith commented on #133
I put up a screenshot on Mar 22— https://www.dropbox.com/s/xh0aefk68zpnnux/terminal.png?dl=0. Anything else in particular I could show?

[2016-05-17 00:01] stevemao commented on #133
Oh Sorry didn't see it :) I'll post it here.
![image](https://cloud.githubusercontent.com/assets/6316590/15307428/36382df4-1c16-11e6-9ac6-845ac09ae618.png)

[2016-05-17 00:04] elyscape commented on #72
@williamboman, in the Terminal.app settings, under Advanced, what does it say for Text Encoding? That is to say, here:

![Terminal.app settings](https://cloud.githubusercontent.com/assets/792695/15307469/1f6cb254-1b88-11e6-867d-fc2976bc2c2c.png)

Also, what's the value of `$LANG` in your shell?

[2016-05-17 00:53] williamboman commented on #72
It's not a terminal issue per se. I've been experimenting a bit and it turns out the issue is with `less(1)` and unset `LC_{CTYPE,ALL}`, `LANG`, `LESSCHARSET` variables. Everyone can repro by

[code]

[2016-05-17 21:08] scottchiefbaker commented on #155
@alex have you had a chance to test this yet?

[2016-05-19 18:42] alex commented on #155
Sorry, no I haven't.

[2016-05-20 12:01] williamboman commented on #155
Looks good.

<img width="1550" alt="screenshot 2016-05-20 at 13 58 58" src="https://cloud.githubusercontent.com/assets/6705160/15427144/44720c94-1e93-11e6-82ab-4a2ae1f71aba.png">
<img width="1550" alt="screenshot 2016-05-20 at 14 00 17" src="https://cloud.githubusercontent.com/assets/6705160/15427145/44727422-1e93-11e6-98c0-1a31a9946076.png">

[2016-05-20 16:47] scottchiefbaker commented on #155
Great. I'll get the PR ready.

[2016-05-22 13:30] stevemao commented on #155
fixed by #156

[2016-05-22 13:30] #155 closed

[2016-05-22 13:33] alex commented on #155
awesome, thanks.

[2016-05-22 13:51] stevemao opened #157 "These two doesn't work properly for me"
![screen shot 2016-05-22 at 11 48 10 pm](https://cloud.githubusercontent.com/assets/6316590/15454282/c2aebd1a-2077-11e6-8923-682cc8d609bb.png)

all configs are default.

Z2l0IGRpZmYKZGlmZiAtLWdpdCBpbmRleC5jc3MgaW5kZXguY3NzCmluZGV4IDkzYWFjMjYuLjc0NzZjMjAgMTAwNjQ0Ci0tLSBpbmRleC5jc3MKKysrIGluZGV4LmNzcwpAQCAtMSArMSwyIEBACiBmZXdmZXdpam9mb2V3amZpb2V3amZpb3dlZmppb3dlamZpZXdvagorZmV3ZmV3ZmV3ZmV3ZgpkaWZmIC

[2016-05-24 18:02] williamboman opened #159 "Unicode characters broken in diffs since 0.9.2"
![screenshot 2016-05-24 at 20 01 28](https://cloud.githubusercontent.com/assets/6705160/15514643/583003e4-21ea-11e6-9a5d-00b93d755340.png)

[2016-05-24 22:19] #159 closed

[2016-05-25 09:02] Alex1990 opened #162 "The unicode characters display weirdly."
**Primitive characters** (containing some chinese characters)
[code]

**git diff**
[code]

**Environment**

- OS: Mac OSX 10.11.1
- diff-so-fancy version: 0.9.2
- git config:

[code]

[2016-05-25 09:47] williamboman commented on #162
This is fixed in #160 (fix not released yet).

[2016-05-25 15:07] Alex1990 commented on #162
Okay. I'm waiting for the next release.

[2016-05-25 15:07] #162 closed

[2016-05-25 15:12] scottchiefbaker commented on #162
@Alex1990 can you confirm that #160 does fix this problem for you? I want to make 100% sure it's the same thing.

[2016-05-25 15:32] Alex1990 commented on #162
Yeah. At least, the 0.9.3 works for me.

[2016-06-04 14:25] tleunen opened #164 "diff-highlight: command not found"
I recently updated my node version and for some reasons, diff-so-fancy doesn't work anymore.

I even tried to uninstall/reinstall it with brew, no success.
[code]

[2016-06-04 14:35] stevemao commented on #164
Can you make sure if `diff-so-fancy` is in your `$PATH`?

[2016-06-04 14:44] tleunen commented on #164
Yes `diff-so-fancy` is in the path, but `diff-highlight` is not

[2016-06-04 15:06] paulirish commented on #164
you should update your git pager config. You shouldn't need highlight in the config any longer. dsf does it automatically.

[2016-06-04 15:16] tleunen commented on #164
Thanks.
By removing diff-highlight from the config fixes the issue.

[2016-06-04 15:16] #164 closed

[2016-06-09 17:27] adagios opened #165 "encoding problems diffing latin1 text"
Hey, I'm getting `utf8 "\xE9" does not map to Unicode at /usr/local/Cellar/diff-so-fancy/0.9.3/libexec/diff-so-fancy.pl line 33, <> line 7.` when trying to diff a file with a single latin1 `é` caracter.

To reproduce:

[code]

installed via homebrew (stable 0.9.3)

[2016-06-09 20:26] scottchiefbaker commented on #165
I can confirm this is an issue. I'm not really sure how to fix it though. The problem is easily solved by saving the file as UTF8. I'm 99% sure the problem is that we assume all input is utf8, and this isn't.

We'd have to detect the encoding of the input (STDIN), but you can't really do that unless you open it first, and we open it in UTF8 mode.

https://github.com/so-fancy/diff-so-fancy/blob/mas

[2016-06-09 22:34] scottchiefbaker commented on #165
The more I think about it... this may be a **CANTFIX**. If your diff output incldues `utf8` *and* `latin1` output (from two different files) there is no way for d-s-f to know that. All d-s-f gets is raw `git diff` output, which every file's diff concatenated together. I hate to say it, but it's 2016 so we may have to default `utf8` as it's the only sane default in a world of varied encodings.

Alt

[2016-06-10 05:58] paulirish commented on #165
+1 on taking a utf-8-only stance here.

[2016-06-10 08:36] stevemao commented on #165
Can we warn user in such case? Or adding an option (flag)?

[2016-06-10 10:05] adagios commented on #165
I'm perfectly fine with assuming UTF8. But I don't think it's acceptable to fail when finding an unexpected character.

Don't detect another encoding, that's difficult and impossible to do with absolute certainty. But don't error out, substitute the failing character with a placeholder one.

I was converting a single file between encodings, and the diff aborted. The regular git diff works as expec

[2016-06-10 10:07] adagios commented on #165
On the other hand, there are perfectly valid reasons to use a non-UTF8 encoding, and you should consider supporting them. Java properties files must be iso-8859-1 for example.

[2016-06-10 15:00] scottchiefbaker commented on #165
The more I think about it... the more I think we have to assume utf8. With mixed encoding diffs there is no good way to handle all the different encodings.

I'll look in to a better error, but I'm not real hopeful. This is pretty low level Perl file access, I'm not sure if there is a way to get at it, at that level.

[2016-06-10 15:12] scottchiefbaker commented on #165
The good news is for a one-off type of solution we can simply disable utf8 on input by commenting out line 8. Unfortunately that's a `use` statement so it's not something that can be easily modified at runtime.

[2016-06-10 20:45] scottchiefbaker commented on #165
I did some more research and I found a way that we can disable `UTF8` at runtime. Theoretically we could then have a config option `UTF8Input = false` to disable it in specific cases? Unfortunately I can't catch the above error to give a better error message without a ton of manual decoding that would add a **lot** of overhead.

From what I can tell this bug ONLY manifests if the source code is in

[2016-06-14 00:53] derhuerst opened #166 "Git can now show fancy diffs now"
[Git 2.9 can do this](https://github.com/blog/2188-git-2-9-has-been-released). Does diff-so-fancy more than Git?

[2016-06-14 02:04] scottchiefbaker commented on #166
@derhuerst that page is referencing `diff-highlight` which we use for this project, and then expand on it. Yes we can do the things on that page, AND more.

[2016-06-14 02:05] derhuerst commented on #166
Ok, thanks!

[2016-06-14 02:05] #166 closed

[2016-06-14 05:10] stevemao commented on #166
It is actually mentioned in the blog :)

[2016-06-14 12:34] adagios commented on #165
I've got only rudimentary knowledge of perl, so take this as-is.

I've read a bit and found that just by adding
[code]
I've got the expected output:
[code]

The char is not correctly shown, but at least it shows something.
If I commit this version of the file and then change the encoding to utf-8 I get:
[code]

which is also fine by me.

[2016-06-14 12:37] adagios commented on #165
That is always true, the "normal" characters (bellow 127) are always equal in all encodings. We are always only interested in the characters that are different :)

[2016-06-14 14:14] tomviner commented on #35
Git 2.9 is now released, and `interactive.diffFilter` [is mentioned in the release notes](https://github.com/blog/2188-git-2-9-has-been-released).

Add like this:

[code]

Looks like this:
![image](https://cloud.githubusercontent.com/assets/167319/16045842/2be6e4ac-3242-11e6-82ca-7c3ce0ec714f.png)

*`Stage this hunk [y,n,q,a,d,/,e,?]?`* [y](https://github.com/so-fancy/diff-so-fancy/pull/167)

i.e.

[2016-06-14 16:44] megalithic commented on #35
@tomviner: is there a way to take this awesomeness and apply it to verbose commits (though, I imagine at that point, it'd need to be something your `$EDITOR` would handle (e.g., (neo)vim, atom, emacs, etc).

[2016-06-14 17:13] toejough commented on #35
I found this tool because of those release notes, and hit this error the very first time I did `git add -p` after installing diff-so-fancy and updating my `.gitconfig`.

[2016-06-14 17:26] scottchiefbaker commented on #35
To summarize what I see as the issue...

The original git header is four lines (the yellow lines) which we humanize and convert to three lines. Git patch isn't aware it's running inside of d-s-f and uses the original output for line numbers, which is off because there are now less lines.

A simple work around would be to add a blank line after the yellow header, and before the purple hunk line. Th

[2016-06-14 17:49] scottchiefbaker commented on #165
@adagios can you test #168 and see if it solves the problem for you?

[2016-06-14 19:54] OJFord commented on #35
@scottchiefbaker It's less than ideal, but since it's a different configuration option we could have a `--patch-mode` flag. It's more settings and documentation, but at least it would only revert to this level of usability if someone missed it.

[2016-06-14 20:12] scottchiefbaker commented on #35
@OJFord I like that solution actually... it keeps the two contexts very separate. I can code that up pretty easily, and then someone can test with `--patch`?

[2016-06-14 21:03] tomviner commented on #35
@scottchiefbaker @OJFord +1 I was going to suggest a parameter too.

[2016-06-14 21:03] scottchiefbaker commented on #35
After I figured out how to pass ARGV from Bash in to Perl it was pretty trivial. You'll need to set a config option as @OJFord suggested:

    git config interactive.diffFilter "diff-so-fancy --patch-mode | less --tabs=4 -RFX"

After you have that in place, please test the branch I created here:

https://github.com/scottchiefbaker/diff-so-fancy/tree/patch-mode

It "works for me" when I tried `git

[2016-06-14 21:30] OJFord commented on #35
Looks good! Happy to have a crack at some tests tomorrow.

[2016-06-14 21:55] tomviner commented on #35
@scottchiefbaker fails for deleted files:

[code]

People should also test `git stash --patch` and `git checkout --patch`, they uses `interactive.diffFilter` too.

[2016-06-14 22:36] scottchiefbaker commented on #35
@tomviner are we not adding `\n` on file deletes? I thought we were, so I'm confused why this is causing an error. Can you post the full output using `--patch-mode`:

    git diff --color | diff-so-fancy --patch-mode

I'm curious if we're missing a `\n` somewhere.

[2016-06-15 07:42] tomviner commented on #35
The output does have the extra line:

![image](https://cloud.githubusercontent.com/assets/167319/16071691/b23d312c-32d4-11e6-8e45-04187738dec1.png)

But the `git add -p` output is messed up:

![image](https://cloud.githubusercontent.com/assets/167319/16071723/d72627fa-32d4-11e6-8b8f-ac68e6c3283f.png)

You can try to reproduce by deleting the `appveyor.yml` file in this repo, doing an interactive p

[2016-06-15 11:00] adagios commented on #165
@scottchiefbaker I've tested and it works great, thanks!

[2016-06-15 18:40] OJFord commented on #35
It needs another newline at the end of the `STDIN` loop.

[2016-06-15 20:20] scottchiefbaker commented on #35
@OJFord this is looking pretty good to me now actually. I'm going to make a formal pull request with what we have so far, and people can test it.

[2016-06-16 20:12] rocketraman opened #173 "Pro-tip less with core.pager configuration results in "Pattern not found (press RETURN)" for other commands"
When using the `core.pager` configuration as specified in the README with the "Pro-tip" of pre-seeding a search pattern with less, other commands such as `git log` show:

`Pattern not found  (press RETURN)`

Once enter is hit, the normal log output is shown. The documentation should probably suggest a better way of doing this, or not suggest it at all.

[2016-06-17 00:15] OJFord commented on #173
Agreed. Have you found such a way, or are you just putting up with it/not using it?

From an - admittedly cursory - perusal of the man page, I don't think `less` has a way to 'ignore' no-matches.

However, what we can do is set a different pager:
[code]

To be honest, that's probably a good idea even if you don't want the search pattern, since there's no point running the logs through d-s-f: it'll

[2016-06-17 03:07] rocketraman commented on #173
No, I just removed the pattern match.

Great -- the `pager.diff` setting works perfectly for `git diff`. Adding this takes care of `show` as well:

[code]

Using the default `core.pager` seems to be sufficient, so probably no need to document this.

[2016-06-17 03:12] rocketraman commented on #173
Another workaround: instead of calling less directly, call a wrapper function or script that checks for the existence of the pattern match or not, and only add `--pattern` if yes. Not too elegant though.

[2016-06-17 06:49] OJFord commented on #173
Yep, I did think about that briefly, but that sounds like it could be pretty slow on large files - especially since, unless really clever, it's going to pattern match _twice_ if it does exist. Whereas this should actually be a slight speed-up.

I'll open a PR later to change the recommendation in the docs to be for `pager.diff` only to avoid the no-match issue.

[2016-06-17 07:42] paulirish commented on #173
SGTM.

[2016-06-19 17:26] Blaisorblade opened #174 "Why --tabs=4 for less?"
As per subject. I'd like to use this tool without entering a religion war on the size of tabs 😄.
- Either `--tabs=4` is used only because the authors prefer so for other reasons, and is not actually needed. and then the README could be improved;
- Or diff-so-fancy actually relies on that, and then it might not be compatible with some codebases I'm using that rely on tabs being 8 space wide.

My cu

[2016-06-19 17:54] scottchiefbaker commented on #174
I don't have a `$LESS` environment variable, should I?

[2016-06-19 18:11] Blaisorblade commented on #174
Uh, neither have I — but it can be set by `git` before invoking the pager.

But my main point was another:

TL; DR. Do you expect `diff-so-fancy` relies on special `less` options, other than `-R`?

I'd like to keep the existing less command line (with my addition of `-i`) and just prepend `diff-so-fancy |`, if that's possible (which it seems, but I haven't done extensive testing).

----

Regarding

[2016-06-19 18:27] Blaisorblade commented on #149
FWIW: I `stash` is just a (special) reference, but arbitrary "treeish" objects could be there — we only know that colon is used as a separator. Unfortunately, on Linux `:` in filenames *is* allowed, though it's a very bad idea (among other things, it doesn't work on OS X, nor I think on Windows).

Worse, `diff-so-fancy` seems to dislike `:` anyway:
[code]

Here's an example of a diff with stranger

[2016-06-20 11:50] Chaos99 opened #175 "crash on old perl"
diff-so-fancy refuses to work when called e.g. by `git log` and bails out with

[code]

This is probably because of my old perl (v5.8.4) on a 32bit machine. It works on a 64bit machine with perl v5.18.2.

Can you give me a hint on a workaround or a patch to still use the script?

[2016-06-20 15:07] scottchiefbaker commented on #175
Good catch. I'm not used to writing for super-old Perl's, and that line does indeed have a feature that old Perl's may not have. Perl 5.8 was released in 2002, you must have to _work_ to have a version that old? What OS is it?

As a temporary work around can you change the `//` on line 245 to `||` and see if that fixes the problem? If it does I'll fix the core code so we're Perl 5.8.x compliant.

[2016-06-20 20:36] Chaos99 commented on #175
Well, I wouldn't have dared to call this a bug or demand a patch. I very well know that my perl is ancient and this was just a kind request for a hint or workaround. So thanks for the quite positive response so far.

The Heisenbergian work/shame relation applies here. I can either tell you were I work or how old my system is, but never both. As this is my private account: I'm working within a Debi

[2016-06-20 20:38] scottchiefbaker commented on #175
If at-all-possible we will work to make d-s-f as compatible as possible. As I'm sure you understand there are limits to what we can do, but in this case it seems like there is a semi-simple work around. Assuming this works for you I'm more than happy to commit that to `master` and solve the problem for you.

[2016-06-21 06:28] Chaos99 commented on #175
Works with the change on both of my systems.

 Thanks a lot.

[2016-06-21 06:28] #175 closed

[2016-06-21 14:56] scottchiefbaker commented on #175
Fix has landed in the `master` branch

[2016-06-22 23:51] samiraguiar opened #176 "Diff not showing all files"
Maybe this is the same as #133, but as I'm not sure I'm opening a new issue.

I'm running the following command:
`git dsf origin/master...HEAD <directory>`
So I can get the diff restricted to a single dir.

The problem is that not all files are being listed and the diff is cut off. If I remove the directory argument, the whole diff is shown but still not all files under that dir that were changed

[2016-06-23 04:23] scottchiefbaker commented on #176
Aha... `utf8 "\xE7" does not map to Unicode` means you probably have `latin1` input text. This crashed d-s-f until checkin 2a7590b10e6186eda185310037e258b2d9508bb2. Are you running the latest master? That bug was fixed eight days ago :)

See #165 for more details.

[2016-06-23 12:11] samiraguiar commented on #176
Crap, I downloaded dsf the day before the release :sweat:
Thanks, that fixed it.

[2016-06-23 12:11] #176 closed

[2016-06-23 15:02] #165 closed

[2016-06-23 15:02] scottchiefbaker commented on #133
@adzenith is this still an issue? I wonder if it's related to #165

[2016-06-23 17:11] adzenith commented on #133
Yes it is related! I just tried again with my old version 0.9.x and got this same problem. After upgrading to 0.10.0 I'm able to view the whole diff. It barfs messages like:
`"\x{0092}" does not map to utf8 at /usr/local/Cellar/diff-so-fancy/0.10.0/libexec/diff-so-fancy.pl line 150, <> line 14081.`
but it still shows me everything. Back to using `diff-so-fancy`! Thanks so much!

[2016-06-23 17:11] #133 closed

[2016-06-23 18:41] scottchiefbaker commented on #133
Ok great news. That was a weird bug, I'm glad we finally narrowed it down.

[2016-06-23 19:01] adzenith commented on #133
Thanks! 👍

[2016-06-26 21:43] shasum opened #178 "gitconfig error: adding dsf alias to gitconfig causes error"
Adding a `dsf` alias to `~/.gitconfig` as per Readme causes error when running Git commands.

Env: OS X, Bash
[code]

Appreciate any pointers to make this work. Thanks.

[2016-06-26 23:14] stevemao commented on #178
You should run `git config --global alias.dsf '!f() { [ -z "$GIT_PREFIX" ] || cd "$GIT_PREFIX" && git diff --color "$@" | diff-so-fancy | less --tabs=4 -RFX; }; f'` and `~/.gitconfig` will be updated.

[2016-06-26 23:59] shasum commented on #178
@stevemao thanks a lot, works 👍  ( and thanks for submitting a Readme enhancement as well )

[2016-06-28 22:56] scottchiefbaker commented on #35
@peff is there any reason in the `--patch` mode output would flip lines two and five of the git header for file delete? What I'm seeing after an hour and a half of debugging is that d-s-f is doing the right thing with the input, but `--patch` is flipping those two lines BEFORE it displays the output on the screen. This **only** appears to be happening for `deleted file mode`, not normal modificati

[2016-06-29 02:15] peff commented on #35
@scottchiefbaker Right, this is the rearranging I mentioned in https://github.com/so-fancy/diff-so-fancy/pull/172#issuecomment-226383169. For deletions (and mode changes, too), git will shuffle the line down to be its own "hunk" that you can say yes or no to. So effectively some parts of the header (before the first hunk), get shifted down.

And git rearranges the filtered output line-by-line as i

[2016-06-29 15:54] scottchiefbaker commented on #35
@peff Aha... some how I missed that before.

I don't think the rearrange functionality will be compatible with d-s-f. Specially we throw away the file deleted mode lines all together. Since `git add --patch` is using d-s-f and expecting it to mangle/rearrange the lines (that's the whole goal of d-s-f) would it be possible to modify `git add --patch` to NOT move the lines around on interactive adds

[2016-06-30 07:45] peff commented on #35
@scottchiefbaker I don't think it would be trivial to change `add --patch`. It has to show _something_ to the user when it asks about a deletion or mode change.  I think your best bet is to have a special mode for diff-so-fancy that specifically keeps those lines at their original spots (or possibly prints some fancy version of them).  I think you should be able to make a diff that _doesn't_ look

[2016-07-06 15:27] woodrowbarlow opened #181 "Disable dsf when piping to file?"
I have used the suggested git pager replacement from the readme (`git config --global core.pager "diff-so-fancy | less --tabs=4 -RFX"`) so that commands like "git diff" and "git show" use diff-so-fancy by default. Is is possible to write this config option such that diff-so-fancy is only used when the output stream is stdout?

Basically, I want to be able to do `git diff HEAD^..HEAD > changes.patc

[2016-07-06 23:14] stevemao commented on #181
What about alias `git --no-pager`?

[2016-07-06 23:56] woodrowbarlow commented on #181
That's what I do now, I was just wondering if anyone more clever than I has managed to work some shell magic that can redirect the pager by default depending on what type of stream is being used.

[2016-07-13 10:24] z0rc opened #182 "^M displayed in some line edits for files with CRLF line endings"
I'm on OS X and have file with `\r\n` line endings:

[code]

When checking `git diff` for changes in this file (with diff-so-fancy), the `^M` symbol appears at the end of _some_ lines (colors omitted):

[code]

I checked output of `report-bug.sh` for this diff and it shows that `^M` is present at then end of each line from file.

I believe this `^M` should be `chop`ed from stdout always.

[2016-07-13 15:45] scottchiefbaker commented on #182
I can recreate this... I wonder if this is a `less` thing, making the `\r` visible?

It's an easy fix, but I think we should get a consensus before we make this change. Thoughts: @stevemao @paulirish @noscript @OJFord

[2016-07-13 17:42] noscript commented on #182
`^M` appears if the line endings were changed. I think this is valuable and should be kept.

[2016-07-13 18:26] OJFord commented on #182
Then perhaps, if the terminal supports unicode, there could be a - *ahem* - fancier (clearer intent)  character to indicate changed line endings? Some sort of vertical squiggle maybe.

[2016-07-13 18:28] scottchiefbaker commented on #182
I created a file like the following:

[code]

I committed that file, and then changed `there` to `three` (no change to the line endings) and the `^M` showed up at the end. I don't think it ONLY shows if the line endings were changed. Maybe I'm wrong though.

[2016-07-13 18:30] OJFord commented on #182
@scottchiefbaker How did you change `there` to `three` though?

I wouldn't be sure of how to do that and guarantee that _something_ wasn't changing the line endings. `sed`, I suppose.

[2016-07-13 18:55] scottchiefbaker commented on #182
@OJFord just using Vim... Vim will **not** change line endings for no reason.

[2016-07-13 20:21] #178 closed

[2016-07-14 07:05] OJFord commented on #182
@scottchiefbaker Perhaps I'm misunderstanding, but:

If one or more lines end with LF only, the unix file format will be applied, meaning that each LF is removed (but each CR will be present in the buffer, and will display as ^M), and the buffer 'ff' option will be unix.
http://vim.wikia.com/wiki/File_format

[2016-07-14 08:15] z0rc commented on #182
Let me clarify a bit. This ticket has nothing to with Vim and how it handles line endings. Here is screenshot with colors, so it would make more sense.
![screen shot 2016-07-14 at 11 09 14](https://cloud.githubusercontent.com/assets/787519/16832592/938a9300-49b3-11e6-8dfe-eb66f87b00df.png)
I'm confident, that this change didn't touch line endings and all lines in file still end with CRLF.

[2016-07-14 12:05] markelog opened #183 "Document how to used it with vi"
Currently, it's documented how to use this with `less` pager, can you document it how to use it with `vi`?

Thank you

[2016-07-14 22:08] marekhrabe opened #184 "Diff for line prepends"
I have just installed this (really nice tool!) and quickly noticed this output:

<img width="180" alt="screen shot 2016-07-15 at 00 04 34" src="https://cloud.githubusercontent.com/assets/156676/16857395/bf412e16-4a1f-11e6-9f19-a9b32a685004.png">

I mean it's not wrong and it gets the job done well, but there is obviously a much better thing to highlight than `turn re`. Is improving something like

[2016-07-14 22:10] scottchiefbaker commented on #184
The intra line/word highlighting is handled by [diff-highlight](https://github.com/git/git/tree/master/contrib/diff-highlight). This should would be a good thing to address with them.

We (d-s-f) wrapper the output of `diff-highlight` and make it more human readable.

[2016-07-14 23:04] stevemao commented on #183
Unless `vi` is very common, we can't document everything. Thoughts?

[2016-07-14 23:05] scottchiefbaker commented on #183
I don't think vi/vim is a common pager. It should be pretty straight forward though. It should just be ` | vim -` I think. I'm not an expert on vim as a pager.

I think officially we support `less` and other pagers are up to the user to figure out?

[2016-07-14 23:05] #183 closed

[2016-07-14 23:07] scottchiefbaker commented on #183
Oooopps. I didn't mean to click "comment and close". If you feel we should re-open this let us know.

[2016-07-14 23:14] markelog commented on #183
Nuh, that's fine, it was stupid of me to ask, thanks

[2016-07-18 09:07] maxnordlund commented on #118
I think this is done.

[2016-07-18 15:23] #118 closed

[2016-07-20 18:40] Daniel15 opened #186 "Mercurial?"
Do you have instructions on how to configure this project to be used with Mercurial rather than Git?

[2016-07-22 17:13] mvcds commented on #164
In case you (who got here through Google) have a similar issue and you're using something like `nvm` check if your current node version has it installed.

[2016-07-25 20:46] rdegges opened #187 "Would be awesome to get this into debian"
Would be really cool to get this packaged up for debian so it can be installed via apt.

[2016-07-29 18:25] OJFord commented on #186
That would be dependent upon mercurial diffs being line-compatible with git's; I don't know if that's the case?

I've never used mercurial (or, therefore, tested this) - but you could try:
[code]

[2016-07-29 18:39] OJFord commented on #181
This is not possible - there's no way d-s-f (or any program) can detect where its output is going to go _before it has produced any output_, I can't imagine how it would even detect where it went _after_ it had produced it.

If you redirect stdout to a file, it was still stdout. The program is in control of what it's output stream is when it prints something, i.e. usually stdout; stderr for an err

[2016-07-29 18:40] scottchiefbaker commented on #181
In Perl I know you can use `-t` to check if the output is interactive (i.e. not piped to a file).

[2016-07-29 19:03] OJFord commented on #181
My apologies, @scottchiefbaker is right, `-t` is not just Perl but POSIX.

Maybe we can and should do this?

[2016-07-29 19:14] OJFord commented on #173
Sorry, completely forgot about this! PR open now.

[2016-07-31 12:08] #173 closed

[2016-07-31 14:39] OJFord commented on #149
Colons in filenames is a rabbithole not worth anyone going out of their way to support, IMO. Just recently there was a blog post about a git/NTFS issue whereby cloning such a repo on Windows caused all manner of problems, since `:` is the syntax for an alternate data stream; so an 'empty' file was created with the contents existing but semi-hidden.

If we assume colons appear only to separate refs

[2016-07-31 14:53] Blaisorblade commented on #149
Ah right! [Link](http://latkin.org/blog/2016/07/20/git-for-windows-accidentally-creates-ntfs-alternate-data-streams/). I agree on ignoring this circumstance, even though I raised the point.

That makes sense, though my above example (and even the one in the issue) doesn't quite match if I get you correctly—it matches instead `diff -git a/<ref1>:<fname1>..<ref2>:<fname2> b/<ref2>:<fname2>` (which m

[2016-08-01 10:15] OJFord commented on #149
Oh yes, sorry, I missed that. I'm having trouble parsing that, not sure what it means at all; it's as if one side of the diff is a diff in its own right.

Does this issue still occur without that `..` complexity, just between refs?

[2016-08-01 10:54] Blaisorblade commented on #149
I don't get it either and currently suspect it might not be intended.

Good question! Replacing `..` by a space removes this second issue with `git diff` and only leaves the diff-so-fancy issue.
Wild conjecture: the first filename is taken by taking every non-colon from the argument before splitting, that is, `[^:]*:`, but the `*` is overly greedy.

Without `..`:
[code]

With `..`:

[code]

[2016-08-01 11:19] Blaisorblade commented on #149
Regarding my previous conjecture on the bug: of course I have to retract it, the parsing code is much more insane than reasonable. Not 100% sure what happens, but there is a pointer to the argument used as the first part, and at some points the argument is modified to be split in the middle, and at some points it's unsplit. One must love NULL-termined strings.

https://github.com/git/git/blob/f8f7

[2016-08-02 17:49] OJFord commented on #174
This ties in with @stevemao's desire to not document "how to configure git/shell".

I assume DSF doesn't rely on `--tabs=4` (if so we should open a new issue "Don't rely on ..."!) - this can probably be changed for something more suggestive, like:

[2016-08-02 19:02] scottchiefbaker commented on #174
I don't have "an existing pager" other than vanilla less. I think your wording is reasonable, with a minor tweak:

[2016-08-02 19:07] OJFord commented on #174
Right, which is why a suggestion is helpful, but it's not unreasonable to think that someone might. I used to have it explicitly set to `less`, partly for the sake of being explicit, and partly to remind myself that it _wasn't_ `$EDITOR`.

[2016-08-02 20:12] #174 closed

[2016-08-05 21:58] Daniel15 commented on #186
Thanks for the info! I just tried that, which gave me this:
[code]

Seems like it's trying to run the whole thing as a command, rather than treating `|` as a pipe.  I tried removing the pipe to `less` and just doing:
[code]

But then it just sat there forever, without doing anything.

I ended up just creating a `hg-diff-fancy` shell alias, which is working fine for me:
[code]

[2016-08-05 21:58] #186 closed

[2016-08-05 23:55] OJFord commented on #186
Hm, actually the example at [the bottom of this page](https://www.mercurial-scm.org/wiki/ExtdiffExtension) does make it seem like pipes aren't supported for some reason.

That would suggest that git/hg diffs aren't compatible; so it chokes on the input. So it's interesting that you were able to create an

I'm not sure what's going on there then.

Still, at least it works I suppose! I might look in

[2016-08-05 23:57] Daniel15 commented on #186
I think Mercurial diffs are compatible with Git diffs (that is, they're in the same format). Not sure if that's the default configuration, but it's how it seems to be configured internally at Facebook.

[2016-08-06 10:01] OJFord commented on #186
Looked into this a little bit, it seems both are based on GNU's "Unified Format", which makes sense. Git seems to extend it a little bit though, so if you run into issues with your current command, you may want to [try adding `--git` to `hg diff`](https://www.mercurial-scm.org/wiki/GitExtendedDiffFormat).

[2016-08-06 11:53] OJFord commented on #181
@woodrowbarlow I've had a crack at this, and I _think_ it's fully functional.

Please check it out and let me know if it behaves as you expect :)
(Only change is to the bash script in the root dir, so you can just grab that; stick it in a git repo, and run `git diff --no-pager | ./diff-so-fancy [> changes.patch]`.)

[2016-08-12 06:49] paulirish commented on #187
We'll leave that to other folks. Sounds good to us though!!

[2016-08-12 06:49] #187 closed

[2016-08-12 06:49] paulirish commented on #184
closing as its technically a diff-highlight bug.

[2016-08-12 06:49] #184 closed

[2016-08-12 06:55] stevemao commented on #187
@rdegges PR welcome for the instruction of installation.

[2016-08-22 00:47] onlyjob opened #194 "clarify the license; add copyright statement"
"MIT" is not a reliable license identifier. [MIT](https://opensource.org/licenses/mit-license.php) license id [is ambiguous](https://en.wikipedia.org/wiki/MIT_License#Various_versions) (there are [too many licenses](https://fedoraproject.org/wiki/Licensing:MIT) known as _MIT_) and FSF recommends to refer to it as [Expat](https://directory.fsf.org/wiki/License:Expat).

As very minimum proper licens

[2016-08-22 00:50] onlyjob opened #195 "please provide man page; use POD documentation"
Please introduce man page and POD documentation.

Man page can be conveniently generated from POD markup using [Pod::Usage](http://perldoc.perl.org/Pod/Usage.html) core module.

Thanks.

[2016-08-22 01:25] stevemao commented on #195
I like this. PR welcome :)

[2016-08-22 15:36] scottchiefbaker commented on #194
Good call. I'm all for including `LICENSE` in the repo. The licenses you listed are correct, would you like to submit a pull request adding a `LICENSE` file?

[2016-08-23 15:44] onlyjob commented on #194
No, sorry, too little time... Besides it would be better if one of main contributors could craft the commit...

[2016-08-23 16:57] scottchiefbaker commented on #194
No worries. Thought you'd want credit. Closed via 224db6aae69f3174bf0d883a748c716e1704442d

[2016-08-23 16:57] #194 closed

[2016-08-23 18:18] vanniktech commented on #194
@scottchiefbaker you may wanna go and fix `Copyright (c) <year> <copyright holders>`

[2016-08-23 18:29] scottchiefbaker commented on #194
Good call, I clarified that.

[2016-08-24 04:44] onlyjob commented on #194
Thanks. :)

[2016-08-24 23:15] stevemao opened #196 "git diff after fixing conflict from `git cherry-pick`"
I did `git cherry-pick` and there is a conflict. after fixing the conflict, I did a `git diff` and see there's some extra `+` and `-`:

<img width="828" alt="screen shot 2016-08-25 at 9 13 51 am" src="https://cloud.githubusercontent.com/assets/6316590/17951273/48f002e6-6aa4-11e6-8d6e-eda13191c675.png">

Z2l0IGRpZmYKZGlmZiAtLWNjIHNyYy9lZGl0L3NlbGVjdGlvbi5qcwppbmRleCA5ODdhMzBjLDNhM2QyMTguLjAwMDAwMDA

[2016-08-24 23:17] stevemao commented on #196
[diff.txt](https://github.com/so-fancy/diff-so-fancy/files/435843/diff.txt)

[2016-08-24 23:20] scottchiefbaker commented on #196
This is a 3-way merge... I suspect this is the problem as they're a little more hairy to deal with.

[2016-08-25 02:58] stevemao commented on #196
Thought 3-way merge should be already fixed?

[2016-08-25 15:05] scottchiefbaker commented on #196
Ok I spent way too long on this, but the issue is diff-highlight. Specifically a couple of the lines have ansi character changes INSIDE of the leading header. Simplified it's like this:

    [red]-[darkred]-   if (headLeaf > -1 && sel.isCollapsed) {
    [green][dark_green]++  if (headLeaf > -1 && isCollapsed(sel)) {

Note the two leading "-" are separated by a color. d-s-f is expect the prefix to

[2016-08-25 16:21] scottchiefbaker commented on #196
I updated `ansi_reveal` which will help illustrate this problem.

[code]

Note the ANSI mixed in with the - and + line headings

[2016-08-26 00:36] stevemao commented on #196
Hey @scottchiefbaker , thanks so much for the time on this!

I assume you mean to patch diff-so-fancy? We can definitely fix diff-highlight if it's the right thing to do. You could [report an issue or send a PR to the main git repo](https://github.com/git/git/blob/master/Documentation/SubmittingPatches).  cc @paulirish @peff

[2016-08-26 01:43] peff commented on #196
I don't think `diff-highlight` knows about combined diffs (i.e., 3-way or greater) at all. So I suspect it treats:

[code]

as a hunk which turned ` foo` into `+bar`. It probably needs to recognize the number of `@` characters in the hunk header lines, and then soak up that many `+`, `-`, or ` ` characters before comparing lines. Or alternatively, just recognize it's a 3-way diff and stop highligh

[2016-08-26 01:56] scottchiefbaker commented on #196
I guess you could consider this a diff-highlight bug. I don't expect dh to understand three-way diffs though, maybe it should? This bug is in the logic we use to remove the leading +/-

https://github.com/so-fancy/diff-so-fancy/blob/master/libexec/diff-so-fancy.pl#L344

We need to find a way to:

1. Store the original line color
2. Remove X chars of "+", "-", " " all intermixed with a possible ans

[2016-08-26 15:42] scottchiefbaker commented on #196
The more I think about this, maybe this is an issue for diff-highlight to address. It really shouldn't be styling the line indicators, as they're not really part of the context of the change. This is only an issue with diff-highlight on three way merges.

[2016-08-26 19:52] peff commented on #196
Yeah, I agree that `diff-highlight` should ignore combined diffs. I probably won't get to it soon, so if anybody wants to try their hand at a patch, feel free.

[2016-08-31 05:12] peff commented on #196
I just posted a fix for `diff-highlight` to the [git list](http://public-inbox.org/git/20160831050538.53fki52cvwlmkd6y@sigill.intra.peff.net/), which simply disables highlighting of combined diffs. If you want to try it out, note that it's built on top of some other patches in the thread.  The simplest thing is probably to grab the "jk/diff-highlight-potpourri" branch from https://github.com/peff/

[2016-08-31 18:55] scottchiefbaker commented on #196
I can confirm that @peff's fix corrects the above mentioned issue. It lacks the contextual highlight of `diff-highlight` but that's to be expect on three-way merges moving forward. I suppose the "fix" for d-s-f is to put this new `diff-highlight` in the third-party directory?

[2016-09-01 09:13] ingro opened #197 "diff-so-fancy stopped working on windows 10 after installing bash"
Hello! I was using diff-so-fancy just fine until I updated windows 10 with the anniversary update and installed bash.

Now when I launch the command `git diff --color | diff-so-fancy` I only get:

`Error: 0x80070057`

While trying to launch diff-so-fancy stand alone result in this error:

`/bin/bash: C:\Users\Ingro\AppData\Roaming\npm\node_modules\diff-so-fancy\diff-so-fancy: File or directory not

[2016-09-14 19:20] timoxley opened #198 "Use of uninitialized value $_"
Likely related to #35.

At the end of a `git add --patch` I always get a line like:

`Use of uninitialized value $_ in print at /usr/local/Cellar/git/2.10.0/libexec/git-core/git-add--interactive line 1368, <STDIN> line 7.`

e.g.
![image](https://cloud.githubusercontent.com/assets/43438/18526401/0aba436a-7af3-11e6-8249-db150b011904.png)

I currently have git configured like so:

[code]

Not a major

[2016-09-14 20:22] scottchiefbaker commented on #198
This is a known issue that we're attempting to fix with #35. Officially d-s-f does not work with `--patch`... it kind of works, but there is an issue with line counts in Git that we can't really fix.

[2016-09-14 21:41] blueyed opened #199 "Does not handle input from `git log --graph -p` properly"
When using `git log --graph -p --color | diff-so-fancy | less` the graph symbols apparently prevent diff-so-fancy from matching the input correctly.

When trying it in diff-so-fancy's repo (3dd2580), there's also some warnings:

[2016-09-14 21:52] scottchiefbaker commented on #199
Diff-so-fancy doesn't support the `--graph` option. Specifically it adds various characters `|` `\` `*` to the beginning of each line which d-s-f doesn't understand. Moreover, it also messes up the indentation level of each line which d-s-f expects to be consistent.

D-s-f should work fine (it does for me) `git log -p --color | diff-so-fancy` without the `--graph`.

I consider this a `CANTFIX`. If

[2016-09-14 21:55] scottchiefbaker commented on #197
I don't think we have a lot of users on Windows + Bash (yet). Error: 0x80070057 seems to be a REALLY generic error message. I can't help much with that.

I can only guess that bash isn't able to find d-s-f, but I don't have any idea why. I'm open to suggestions/patches because I don't have much Windows experience.

[2016-09-14 21:56] scottchiefbaker commented on #196
@peff did you delete the `jk/diff-highlight-potpourri` branch? I don't see it any more.

Once I can find the newest patched `diff-highlight` I'll put that in the official d-s-f repo and we should be able to close this issue.

[2016-09-14 22:20] blueyed commented on #199
I could imagine this to be fixable: the graph characters would be matched optionally (and/or trigger a special mode), and the indentation level would then be relative / set when a hunk starts.

I am using `--graph` by default often (basically `git log --abbrev-commit --decorate --submodule=log --graph --stat -p`).

[2016-09-14 23:06] peff commented on #196
@scottchiefbaker Yeah, sorry, it is merged in upstream git's `master`, and I generally delete my topic branches after that. The simplest thing is to just grab what's in the upstream master, I think.

[2016-09-14 23:12] stevemao commented on #199
@blueyed Would it be good if we make `d-s-f` a noop if it sees some format that it doesn't understand?

[2016-09-14 23:12] scottchiefbaker commented on #196
@stevemao this should be fixed as of 9e99f91f9bfb02dddce6437d5143df135d2742fb. Can you confirm that it's fixed?

[2016-09-15 05:26] stevemao commented on #196
I confirm that it fixes my issue. Thanks guys :)

[2016-09-15 05:26] #196 closed

[2016-09-15 08:13] R11T opened #200 "Branch autocompletion not working"
Hi and thanks for your tool (well named « fancy » :smile: ) !

I followed install process last night by setting `git dsf` alias in my `~/.gitconfig` :

[code]

Unfortunately, when I type :

[code]

and press tab for autocompleting my branch name, I receive error message (sorry, french) :

[code]

I can do more tests if your need more informations.

Thanks !

Note : I have a vanilla bash.

[2016-09-21 07:59] ingro commented on #197
I made futher tests and if I install d-s-f in bash environment all is working just fine, but if I launch it in windows env gives me that error.

So in some way windows detect that it's a bash script and launch it through bash, but there the path didn't match and so it throws an error. I tried to comment the `#!/usr/bin/env bash` comment at the top of the script but nothing changed though :/

[2016-09-21 10:16] stevemao commented on #197
Sounds like your setting is wrong

[2016-09-25 04:44] stevemao opened #201 "extra `-` in deleted file"
Hi, I got this minor problem in the latest version. The rest of the diff looks fine.

<img width="647" alt="screen shot 2016-09-25 at 2 40 01 pm" src="https://cloud.githubusercontent.com/assets/6316590/18813079/2d4ffecc-832e-11e6-98fe-7f3896ccf432.png">

Z2l0IGRpZmYgSEVBRF4KZGlmZiAtLWdpdCB0ZXN0L3JlYWR5d2FpdC5odG1sIHRlc3QvZGF0YS9yZWFkeXdhaXQuaHRtbApzaW1pbGFyaXR5IGluZGV4IDY0JQpyZW5hbWUgZnJvbSB0ZXN0L

[2016-09-26 13:51] Chiel92 opened #202 "Diff so fancy stopped working on win 7: random errors in perl script"
When diffing

[code]

I can randomly get one of the following two errors:

[code]

or

[code]

I'm on windows 7, using git bash and never had any problems. After getting these errors, I updated to the latest version by running `npm update -g diff-so-fancy`, but no luck. I'm not sure what triggered this regression. Anyone known whats going on? I can give more information as necessary.

[2016-09-26 14:07] Chiel92 commented on #202
It seems that some diffs have more chance to fail than others; maybe this bug was always there and I was just lucky so far

[2016-09-26 15:17] scottchiefbaker commented on #202
Do you have the `tput` and `uname` commands are part of your path? Those are very much Linux commands, but you're running Windows so it might be work double checking they were installed as part of your cygwin environment.

What are the outputs if you manually run `tput cols` and `uname -a`

[2016-09-26 15:28] scottchiefbaker commented on #201
Is it just me or is there no color in that diff until about halfway through?

[2016-09-26 18:09] Chiel92 commented on #202
[code]

Btw, not cygwin, but mingw64

[2016-09-26 18:20] scottchiefbaker commented on #202
I wonder if there are some situations where `tput` or `uname` don't run, or don't return appropriate information?

[2016-09-26 19:48] Chiel92 commented on #202
No idea. Weird thing is that the error isn't always there. So there must be some kind of race condition playing a role here.

[2016-09-26 20:06] scottchiefbaker commented on #202
If you can figure out a rhyme or reason let us know. Otherwise it's going to be pretty hard to troubleshoot.

[2016-09-27 12:13] Chiel92 commented on #202
I can add another non-deterministic error to the list:

[code]

[2016-09-27 12:19] Chiel92 commented on #202
Great project btw!

[2016-09-30 08:42] blueyed commented on #199
Might be fixed by https://github.com/so-fancy/diff-so-fancy/commit/9e99f91f9bfb02dddce6437d5143df135d2742fb. Need to check.

[2016-09-30 09:12] blueyed commented on #199
Much better..

But it does colorizes the second `---/+++` section in the following (with `git log --graph -p --color | diff-so-fancy | less` in this repo):

[code]

[2016-09-30 09:12] blueyed commented on #199
@scottchiefbaker please re-open the issue.

[2016-10-02 10:18] britter opened #203 "Problem with UTF-8 encoded characters"
When running a `git show` on apache/commons-lang@86a5960 I get the following error message:

[code]

Reproduction (with diff-so-fancy set up for git diff):

[code]

[2016-11-10 16:07] maxnordlund opened #204 "Background color breaks +/- sign stripping"
When using background colors the +/- signs in the beginning of the lines aren't stripped anymore. But on lines that don't have it they still do.

My config:
[code]

![skarmavbild 2016-11-10 kl 17 05 43](https://cloud.githubusercontent.com/assets/664779/20184153/fe7f5512-a767-11e6-9f31-b40edf43beb9.png)

[2016-11-13 10:46] lode opened #205 "Files in a/ directory miss their directory prefix"
I've got a change in a file called `a/index.php`.

With `git --no-pager diff` I get:

[code]

dsf shows:

[code]

[2016-11-18 05:57] stevemao commented on #204
Are you on the latest version? If you use a different color the `+/-` signs will be stripped?

[2016-11-18 05:59] stevemao commented on #205
Because you specify `--no-pager` so the diff is not piped to `diff-so-fancy`

[2016-11-18 08:56] lode commented on #205
I don't understand.

I have a directory called `a`. Within that directory is a file called `index.php`. When I change that file, I expect to see a diff naming the `a/index.php` path. However, dsf skips the `a/` directory. So the output of `--no-pager` is what I expect. Dsf should show `modified: a/index.php`.

[2016-11-18 11:02] maxnordlund commented on #204
I've installed it using `brew`, which reports version 0.11.2. I assume this is the latest? It's not a three way merge, just the stuff I've ben working on.
I'll tried a few a different colors, but I'll try some more. It's only affected by background color though.

[2016-11-18 16:10] scottchiefbaker commented on #205
Git prepends "fake" directories on each diff. Specifically it puts `a/dir/filename` and `b/dir/filename` for the changed files. We [strip that off](https://github.com/so-fancy/diff-so-fancy/blob/master/libexec/diff-so-fancy.pl#L71) because it's not a real directory. It would make sense that you're seeing the `a/` get stripped off... but I can't recreate what you're seeing.

I recreated your scenar

[2016-11-20 19:16] lode commented on #205
I found the issue, I have `[diff] noprefix = true` in my gitconfig. Don't know where I got that one from, but it explains the behavior of the normal git diff.

[code]

I would be cool of course if dfs could recognize that setting.

[2016-12-17 23:23] OJFord commented on #199
Yep, I think it's because it's not designed to see a second diff, so the second header's `---` is taken as removing a line that begins `--`.

Might be fairly simple to 'reset' on seeing a second `diff a/ b/` line @scottchiefbaker?

[2016-12-19 16:10] scottchiefbaker commented on #199
If there are more than two colums of "+" or "-" at the beginning of the line d-s-f will definitely not know how to handle it. This is a know "feature"... because the use case for more than two is pretty slim, and the fix is pretty gigantic.

[2016-12-28 17:59] alawatthe opened #208 "AVG AntiVirus detects Virus"
The current version of [AVG AntiVirus](http://www.avg.com/ww-en/avg-antivirus-for-mac) detects a virus in the ```test/fixtures/dotfiles.diff``` file.

<img width="1087" alt="avg" src="https://cloud.githubusercontent.com/assets/901391/21527893/c2e50bf4-cd2e-11e6-8567-027a0d80942d.png">

I'm not quite sure, what the reason for this is, but I thought I let you know.

[2016-12-28 18:05] scottchiefbaker commented on #208
Doesn't really make sense... but thanks for the info. We'll chalk it up as a fluke.

[2016-12-28 18:05] #208 closed

[2016-12-28 18:25] alawatthe commented on #208
I had a closer look at it, apparently the ```127.0.0.1 twitter.com``` part in line 7 is very evil 😆

One thing which came to my mind was, that you could add a .npmignore file and tell it to ignore the test folder and a few things, which aren't needed in the npm package. Apart from AVG being happy, the npm module would be smaller, which makes everyone happy.

Thank you for the nice tool btw :-)

[2016-12-29 00:25] OJFord commented on #208
AVG AV is the real evil here...

[2016-12-29 00:37] Oxicode commented on #208
Lol. Hahah

[2016-12-29 21:02] karinakozarova opened #209 "Create a not-a-tech-person friendly guide"
I think you should include something like an article or step by step install and config for diff for those people who are not tech gurus.

[2016-12-31 12:54] SShrike commented on #209
Why would those kinds of people be using Git on the command line?

[2016-12-31 13:42] #209 closed

[2016-12-31 23:30] tessgadwa commented on #209
Actually, a lot of different people use Git. It's been used to add academic footnotes.

[2017-01-13 11:24] aserrallerios opened #211 "Add parameter to show line numbers of files"
It may just copy what github does. Two columns, line numbers if apply.

This would be a real improvement over the regular diffs IMO.

Sorry if this is out of scope of this project.

[2017-01-13 20:10] OJFord commented on #204
I can't reproduce this, works for me. Have you checked a different terminal emulator?

[2017-01-13 20:22] OJFord commented on #211
It's certainly possible to do, but most of what d-s-f does is about removing clutter and focussing on the actual diff.

Have you tried one of the line-number solutions [here](http://stackoverflow.com/questions/24455377/git-diff-with-line-numbers-git-log-with-line-numbers) together with `diff-highlight`? You might find that's more what you're looking for.

[2017-01-13 20:26] OJFord commented on #202
I don't think that's a Perl problem.

If it's still an issue, what's the output of `locale`?

[2017-01-16 00:52] stevemao opened #213 "Highlight diff in filename changes"
I really like how gitlab shows the diff in filename changes:

![image](https://cloud.githubusercontent.com/assets/6316590/21967835/2b42bdc4-dbe2-11e6-8188-19dfe3b5f2d2.png)

Would be great if diff-so-fancy implements this. Cheers :)

[2017-01-16 12:18] aserrallerios commented on #211
Not really into those solutions, too fragile, I'd rather use a maintained project that supports that feature.

Up to you to discuss! :)

[2017-01-18 14:03] Chiel92 commented on #202
[code]

[2017-01-18 14:09] OJFord commented on #202
What about `which env`, and `/usr/bin/env --version`?

[2017-01-18 15:57] Chiel92 commented on #202
[code]

[2017-01-18 15:59] OJFord commented on #202
Bizarre. But I suppose you did say it's not consistently reproducible? Seems like a mingw problem to me.

[2017-01-18 21:59] stevemao commented on #208
@alawatthe PR welcome to change it :)

[2017-01-18 22:04] stevemao commented on #205
@lode Makes sense. PR welcome :)

[2017-01-18 22:09] stevemao commented on #204
@maxnordlund Is there a simple way to reproduce the issue? You could try using [report-bug.sh](https://github.com/so-fancy/diff-so-fancy#reporting-bugs)

[2017-01-18 22:36] maxnordlund commented on #204
OK, so I've played around a bit more and the steps to reproduce are:

1. Use the config in the description
2. `git diff HEAD..HEAD^`

<details>
 <summary>Using the report-bug script gives:</summary>
Z2l0IGRpZmYgSEVBRC4uSEVBRF4KZGlmZiAtLWdpdCBhL3JlYWRtZS5tZCBiL3JlYWRtZS5tZAppbmRleCBiZGFlMWJkLi4yZTQ2YTVhIDEwMDY0NAotLS0gYS9yZWFkbWUubWQKKysrIGIvcmVhZG1lLm1kCkBAIC05MSw3ICs5MSw3IEBAIFNob3VsZCB0aGUgcGVza

[2017-01-19 02:38] scottchiefbaker commented on #204
I'm not sure I'm totally tracking what you're describing here. Are you saying when you use numbers as the background (oldHighlight and newHighlight) it doesn't strip out the `+` or `-` ?

I used the exact color config you specified above, and then ran `git diff HEAD..HEAD^` in the diff-so-fancy repo and I'm seeing that the `+` and `-` **are** stripped.

You said:

but I'm not clear on exactly what

[2017-01-20 09:44] sundylink opened #215 "diff-so-fancy install error"
`npm install diff-so-fancy -g  ` or `brew install diff-so-fancy` all error:

Error: No available formula with the name "diff-so-dancy"
==> Searching for similarly named formulae...

[2017-01-20 09:50] OJFord commented on #215
If the error output is correctly copy pasted, then the commands likely
weren't entered as they appear here ;)

On Fri, 20 Jan 2017, 09:46 sundylink, <notifications@github.com> wrote:

[2017-01-22 22:45] stevemao commented on #215
@sundylink have you done `brew update` before installing anything?

[2017-02-10 01:19] giggio commented on #197
I am also having problems. This is the generated `diff-so-fancy.CMD`:

[code]

I do have bash from the Windows Subsystem for Linux installed, so I do have bash in my Path.

Just as an example, this is the generated `gulp.cmd`:

[code]

This is what is happening. `bin`  on `package.json`  points to the executable. In gulp, that file has `#!/usr/bin/env node` as the hashbang, while diff-so-fancy has

[2017-02-16 08:45] thetrompf opened #216 "`git reset -p` no visual difference between context and patch-to-apply"
I have staged all my modified files and will partially unstage something in a single file,
as you can see in the screenshot:

1. I said `no` to unstage the first chunk.
2. I pressed `split` to the second chunk.
3. I see almost the same after I have `split` the chunk
    except the positive part of the part I thought I had "split away".

The negative part of the chunked I "split away" is still pres

[2017-02-17 15:08] OJFord commented on #216
That's very odd, but I don't see that it can possibly be diff-so-fancy's fault - could you post a matching output (or this again too if you can't easily reproduce the same diff) with `git --no-pager ...`?

[2017-02-17 21:55] arichiardi opened #217 "Install using a curlable bash script"
Hello folks!

Great job with this nice little tool. I was wondering if there is a way to curl in and execute an sh script, like [the nvm install script](https://github.com/creationix/nvm#install-script).

Thanks a lot.

[2017-02-17 21:57] OJFord commented on #217
There's not really any installation necessary - just `curl`/`wget` the script to somewhere on your `$PATH` if this is your preferred method.

[2017-02-17 22:21] arichiardi commented on #217
Ok great thanks, I will leave this open if you don't mind as a simple script could automate even a mere 5 steps ;)

[2017-02-17 22:32] OJFord commented on #217
Sure, a good outcome would be simplifying that process to something nearer the `brew install diff-so-fancy` macOS users can do, even if that's not `curl ... | sh` exactly, which I'm not sure is something any project should be promoting.

There is a package.json, which makes me wonder if at some point in time `npm install` worked (?) - but it doesn't do anything with the `libexec` directory, so I d

[2017-02-17 22:39] arichiardi commented on #217
Agree that `npm` might work at this point but you basically need to install node for it to work. Ideally `sh` should suffice. I know I know we don't live in an ideal world but still :D

That is why I would like to keep this open: maybe some linux user here, or myself indeed, could contribute this five lines of code.

[2017-02-17 22:47] OJFord commented on #217
Agreed, I just figured from your nvm link that that would be acceptable for you :slightly_smiling_face:

I'm sure that, or packages for other distros, would be more than welcome.

If you don't get a chance though I'm happy to have a look at this soon - having looked at the brew formula again I'd quite like to cut the node dependency from it, there's really no need for that. :+1:

[2017-02-17 22:49] arichiardi commented on #217
Awesome then, I am happy I triggered some positive wave here, I am having a look at it right now and I will basically push some basic script quite soon :)

[2017-02-18 00:06] arichiardi commented on #217
In the command:

[code]

what is `$GIT_PREFIX` again?

[2017-02-18 03:24] OJFord commented on #217
`$GIT_PREFIX` will be set to the diff between the parent of the git directory (typically, i.e. in a non-bare repo, the 'project root' or `.git/..`). (cf. [git-scm docs](https://git-scm.com/docs/git-config#git-config-alias))

[2017-02-18 03:48] arichiardi commented on #217
Great thanks a lot I did not know that!
--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-02-19 18:24] ashb opened #219 "Added/removed lines are not highlighted at all."
Just came across this project and it seems like an interesting idea. I installed it via homebrew (`diff-so-fancy: stable 0.11.2 (bottled)`) and I found something slightly odd. Adding a line and it's not highlighted at all, but a changed line is.

<img width="437" alt="screen shot 2017-02-19 at 18 20 52" src="https://cloud.githubusercontent.com/assets/34150/23105022/7761b828-f6d0-11e6-9048-039d4e0e

[2017-02-19 19:49] OJFord commented on #219
This is the expected behaviour: the highlighting shows intra-line change.

Pure additions/deletions should have a different foreground colour though - I assume red/green text in other settings works correctly in the same terminal emulator? (i.e. it's not that the codes for red, green, foreground are mapped to the same colour)

[2017-02-19 20:06] ashb commented on #219
Yeah, normal red and green work colour codes work, i.e. `echo -e '\x1b[32;1mhi\x1b[0m'` prints hi in green.

[2017-02-19 20:46] scottchiefbaker commented on #219
Try add this to your ~/.gitconfig

[code]

[2017-02-19 21:50] ashb commented on #219
No luck. I tried moving my `~/.gitconfig` out of the way to see if that would help too afterwards, no difference.

[2017-02-19 21:53] ashb commented on #219
Oh, _ahem_. It helps if you provide `--color` to the first git command. As you were, and thanks for all the prompt help!

[2017-02-19 21:53] #219 closed

[2017-02-19 21:55] OJFord commented on #219
Ha, glad you sorted it. Makes sense since the intra-line colouring is done separately by diff-highlight.

You can configure that to be default, with `color = always` if memory serves me correctly.

[2017-02-23 15:22] HaleTom opened #220 "Work with arbitrary files"
The output format is indeed preeedy... so pretty I want to use it with standard `diff`.

Would you consider supporting

`diff -u file1 file2 | diff-so-fancy`?
or
`diff-so-fancy --files file1 file2`

There is a [workaround](https://superuser.com/questions/1181971/diff-so-fancy-to-compare-files-not-under-git-version-control/1181976#1181976) but it requires different commands if under `git` managemen

[2017-02-23 16:19] scottchiefbaker commented on #220
What doesn't work when you do `diff -u file1 file2 | diff-so-fancy` ?

When I try that on some local files it looks 90% correct. The only part that is not correct is the header line, and that's because we expect some git specific ANSI codes that aren't there. I still see the separator line, it's just not colored.

Can you provide a `.diff` file, or a screenshot of what doesn't work?

[2017-02-23 16:21] scottchiefbaker commented on #213
All the highlighting is done by `diff-highlight`, I'm not sure how we'd hook in to that for this request.

I like the idea, I'm just not sure how to implement this.

[2017-02-23 16:24] scottchiefbaker commented on #211
I think this may be slightly outside the scope of d-s-f. On of the main focuses of d-s-f is to remove excess clutter like the `-` and `+` line headers, and instead focus on making the output as HUMANLY consumable and copy-pasteable as possible.

Plus we do parse out the diff line indicators so you should be able to see what/where each hunk is from.

[code]

I'm going to mark this closed for now. I

[2017-02-23 16:24] #211 closed

[2017-02-23 16:28] scottchiefbaker commented on #205
Just so I understand... if you see `noprefix = true` diff won't append `a/` and `b/` at the beginning of each changed file?

If that's the case (and you want to keep this setting) it's probably easiest to modify your d-s-f alias to disable that feature at the CLI, while leaving it in your config?

Otherwise... d-s-f would have to be able to detect if this is enabled and act appropriately.

This is

[2017-02-23 16:31] scottchiefbaker commented on #203
Are you on the latest version. I'm pretty sure we worked around this using:

[code]

d-s-f has to assume UTF8 input because there are multiple files of different encodings possible, so these errors can occur on some LATIN text that doesn't map directly to UTF8.

[2017-02-23 16:32] scottchiefbaker commented on #201
ping

[2017-02-23 16:42] scottchiefbaker commented on #200
Paging @stevemao and @OJFord are either of you able to recreate this?

[2017-02-23 16:43] scottchiefbaker commented on #198
I'm going to mark this closed for now, as it's part of #35. I'm not sure if we'll be able to address that yet or not. That's an internal `git` issue.

[2017-02-23 16:43] #198 closed

[2017-02-23 16:45] scottchiefbaker commented on #195
I think this is a great idea. We'd definitely welcome either PRs, or feedback on exactly what should be covered in the manpage. I've never used POD or created a manpage.

[2017-02-23 16:47] scottchiefbaker commented on #181
Is this fixed?

[2017-02-23 16:49] scottchiefbaker commented on #157
Are these still issues with the latest version?

[2017-02-23 16:54] scottchiefbaker commented on #35
@peff where are we at with:

I don't think d-s-f can address this issue with `add --patch` moving those lines around AFTER they're output from d-s-f.

[2017-02-23 17:13] scottchiefbaker commented on #182
Ok I think I've created steps to recreate this on my Linux box. Can someone else verify:

[code]

will generate the above mentioned bug?

[2017-02-23 22:06] OJFord commented on #181
Haven't touched this for a while, implementation is in #190, I believe it's working but needs some modifications to existing tests (as well as tests of the new functionality). I'll check where it's up to and have a look at tests over the weekend.

[2017-02-23 22:13] scottchiefbaker commented on #181
It works for me... If I do

[code]

I get a raw diff patch with nothing fancy added. In other words "works for me", so I'd be inclined to close this issue. Let me know when you're ready.

[2017-02-23 22:32] OJFord commented on #205
So essentially `noprefix = true` gives the behaviour of removing `a/`, `b/` without dsf.

I wonder what the value of git config's Boolean options are if unset by the user - if they're actually ternary, it might be nice to essentially change the default behaviour (i.e. `noprefix` unset) so that we do (pseudocode):

[code]

A related issue would be "I have `diff.noprefix = false` in my config, but `

[2017-02-23 22:51] OJFord commented on #200
Yes, I can reproduce this:

[code]

[2017-02-23 22:58] OJFord commented on #181
Works, with #190, do you mean? Surely without you get colour codes, etc.

[2017-02-23 23:00] scottchiefbaker commented on #181
I'm using `master` and I don't have this issue.

[2017-02-23 23:02] scottchiefbaker commented on #200
This sounds like a git issue then? Somehow git isn't getting the right information after hitting tab on an aliased command?

@peff any ideas what would confuse git with auto-completion in this scenario?

[2017-02-23 23:08] OJFord commented on #200
Works fine with `git config alias.test checkout` and `git config alias.test '!f() { git checkout "$@"; }; f'`.

[2017-02-24 00:08] OJFord commented on #181
Looks like there's been several PRs merged and other commits since the last release. [0]

That might explain some of the issues being opened for things already fixed, if their openers like myself ordinarily track the released version.

Sounds like this was fixed/implemented in parallel to my #190 then, so that can also be closed. I don't think it was any wider in scope than what's described here,

[2017-02-24 00:27] peff commented on #200
I think that the bash completion isn't clever enough to peer through the alias. For non-shell aliases (like your `alias.test`, it trivially knows the command is `checkout`). For shell ones, it tries to guess. In either case, it will run the `_git_<command>` completion function. Normally if the guess is wrong that function just won't exist. But if it's syntactically invalid, then bash will complain

[2017-02-24 00:30] peff commented on #200
(And in case it was not clear, no, I don't think this has anything at all to do with diff-so-fancy).

[2017-02-24 00:32] peff commented on #35
@scottchiefbaker I wasn't planning to work on this. I don't think it's going to be feasible for `add --patch` to avoid moving the lines around. If you want it to work, I think d-s-f needs to maintain a 1:1 mapping of original and fancy lines (which yes, constricts your fanciness).

[2017-02-24 00:34] scottchiefbaker commented on #35
What I took away from your comment was that a special mode would have to made for `git add --patch` that does NOT move those lines around. Is that correct understanding? If so I guess we should probably file a formal bug/issue with the git team to request that.

[2017-02-24 00:44] peff commented on #35
No, I meant the opposite. d-s-f should have a special mode that is perhaps less fancy, but retains the 1:1 correspondence in line meanings.

[2017-02-24 03:00] OJFord commented on #182
Yep, that reproduces it for me; on mac.

[2017-02-24 03:20] OJFord commented on #200
Thanks for the explanation @peff.

@R11T Can you just use:
[code]

Bash completion works fine then; I'm not sure why you need to `cd` to the cwd anyway? I don't believe dsf's output will ever be different as a result. (@scottchiefbaker?)

[2017-02-24 08:35] HaleTom commented on #220
In this [screenshot](http://i.imgur.com/F0v7F7s.png) note issues with:

* Header
* Changed line and added line are not highlighted in green
* No highlight of the empty line that was removed (the one replaced by "changed line")

Also note that with newer versions of `diff` supporting --color=always, the leading `+`/`-` is *not* removed.

[2017-02-24 11:10] R11T commented on #200
I try it asap.

I followed « Usage » section in the readme. Do I have to propose a PR to update it if your command works ?

[2017-02-25 01:07] OJFord commented on #200
Hmm, looks like f547196887bdbb58ef0e91eeb317f9a552d92280 is responsible for that, which claims to fix #86, though that issue to me looks like it was the result of a typo.

It certainly works as far as I've tested and am aware, but we should make sure that it doesn't regress on the above issue before proposing any change.

[2017-02-25 13:24] R11T commented on #200
[code]

Works like a charm ! Thanks :+1:

[2017-02-26 03:35] paulirish commented on #220
I've been using `--no-index` for this trick for a while and haven't had problems.

[2017-02-26 07:06] stevemao commented on #201
Sorry, there is color in the diff. in the base64 it prints the diff without color first then a version with color. Attaching some more images if the problem is not clear.
<img width="702" alt="screen shot 2017-02-26 at 6 05 28 pm" src="https://cloud.githubusercontent.com/assets/6316590/23337831/2f4718e8-fc4e-11e6-83bd-6bd450ce21de.png">
<img width="702" alt="screen shot 2017-02-26 at 6 04 52 pm" s

[2017-02-26 07:55] lode commented on #205
I just found that I created thus issue myself by requesting these prefixes to be removed: https://github.com/so-fancy/diff-so-fancy/issues/28#issuecomment-182293866

<sub>Now I do :)</sub>

And that at that moment it was already noted these two would conflict. But also that the PR removing the prefixes *shouldn't* conflict with the git setting. Apparently it does?

[2017-02-27 21:20] scottchiefbaker commented on #205
Where did we leave this? Is this something we should try and fix, or is this a "feature".

[2017-02-27 21:33] scottchiefbaker commented on #201
Looking closer at the issue here I found the "bug" is with the hunk line:

[code]

As far as I know that's not a valid hunk... a hunk should be of the form: `@@ -X,Y +X,Y @@` and your example is missing that first comma. Are you 100% sure this is valid output from git?

If I change that to `@@ -1,5 +0,0 @@` the text processes correctly.

[2017-02-27 22:05] scottchiefbaker commented on #201
I think I spoke too soon. That **is** a valid hunk header if:

1. You only have one line in the file
2. You delete that one line and commit

I think I fixed it (and created a test, woohoo) in f131c709822fcd30837215423bad7fdb8b090281. Can someone verify this fix works for them, and doesn't break anything else, and then I'll land it?

[2017-02-27 22:17] scottchiefbaker commented on #220
I would **definitely** like to be able to handle:

1. `diff -u file1 file2 | diff-so-fancy`
2. `cat my.patch | diff-so-fancy`

@paulirish can you elaborate on your `--no-index` comment above? I'm not following.

[2017-02-27 23:51] OJFord commented on #220
@scottchiefbaker I assume he's talking about doing `git diff --no-index file1 file2` for this, which should work, with the minor gotcha that the header will always be "renamed: file1 to file2".

[2017-02-27 23:55] OJFord commented on #205
My view is that `diff.noprefix` should be respected, for the case I mentioned above where it's explicitly set `false`. DSF should act as configured, but just use a different default to git; strip prefix if `noprefix` unset.

[2017-02-28 00:05] scottchiefbaker commented on #205
Ok we'll have to check for that setting in `~/.gitconfig` and act accordingly. I think I can do that.

Adding a test might be difficult though.

[2017-02-28 00:10] OJFord commented on #205
That's not the guaranteed location (e.g. `$XDG_DATA_DIRECTORY/git/config` is another possibility, and whatever Windows does with `%APPDATA%` I think) - it's best I think to do `git config diff.noprefix` to get the output as `[nothing]`/`false`/`true`.

I haven't looked at the tests in a while, but with the above it ought to then be possible to mock (i.e. temporarily replace I suppose) `git-config`

[2017-02-28 00:27] scottchiefbaker commented on #205
Good point. We already have `git_config_boolean()` which handles reading whatever config git uses, so I'll use that for this.

https://github.com/so-fancy/diff-so-fancy/blob/master/libexec/diff-so-fancy.pl#L243

[2017-02-28 00:37] scottchiefbaker commented on #205
@OJFord / @stevemao if one of you can test this and let me know if it works for you (all tests pass), then I will land this code.

[2017-02-28 01:01] paulirish commented on #220
Yup! What he said. :)

[2017-02-28 04:18] scottchiefbaker commented on #220
Oh that's cool. I had now idea you could use git to diff files that aren't in a repo. Since we're able to use git like this, making d-s-f to work with it shouldn't be too hard.

How would we want it to look?

**Option 1**
[code]

These seem logical to me, but we would have to add some logic to d-s-f to detect that this code snippet is NOT from a repo, and handle the rename header issue that @OJFor

[2017-02-28 04:33] OJFord commented on #220
If I may,

**Option 3**

[code]

If stdin is a file descriptor, normal git behaviour,  else do this. Or not even check stdin - just look for args that aren't `--option -s`.

I think I like option 1 most though, it keeps dsf as the thing which does the fancifying - it's more UNIXey.

[2017-02-28 04:36] OJFord commented on #220
In re detecting if a git diff - easiest way would be to `rev-parse`  on one of the files.

[2017-02-28 04:37] scottchiefbaker commented on #220
The problem I see with option 1 is that it requires some **git**. D-s-f relies on git to colorize the diffed lines (d-s-f reads that and massages them), which is why `diff -u file1 file2 | diff-so-fancy` sort-of works, it's lacking the line colorization that git provides.

We **could** work around that by just reading the output, scraping the file names and calling `git diff --no-index file1 file2

[2017-02-28 04:41] OJFord commented on #220
Iirc, `diff-highlight` can be invoked without git.

[2017-03-01 04:52] HaleTom commented on #220
I've updated the workaround (see top post) to create a `bash` function:

`dsf() { git diff --no-index --color "$@" | diff-so-fancy }`

My preference now goes to option 3. It would be easy to detect if there were not exactly 2 non-option arguments and print a usage summary.

`diff-so-fancy [-s] [file1 file2]`

I would also **love** to be able to: `cat patch | diff-so-fancy` ( Modification of option

[2017-03-03 21:59] stevemao commented on #201
Had a quick look. Looks it's working :)
<img width="555" alt="screen shot 2017-03-04 at 8 56 50 am" src="https://cloud.githubusercontent.com/assets/6316590/23570508/9381797a-00b8-11e7-8dc2-ddfdc770f074.png">

[2017-03-03 22:24] stevemao commented on #200
@paulirish could you have a look at this issue :)

[2017-03-03 22:57] #201 closed

[2017-03-03 22:59] #205 closed

[2017-03-03 23:01] stevemao commented on #220
make `diff-so-fancy` as a standalone cli command sounds great. Would like to see at least some information printed when running it instead of justing hanging there.

[2017-03-03 23:04] scottchiefbaker opened #223 "Diff-so-fancy needs usage output"
@stevemao wrote

I actually just figured out how to detect that status of (or lack of) STDIN in Perl, so this is very doable. What would like d-s-f to output if it's run as raw from the command line?

[2017-03-04 04:22] stevemao commented on #223
I was just talking about `diff-so-fancy --files file1 file2` raised in https://github.com/so-fancy/diff-so-fancy/issues/220
If you just run `diff-so-fancy` it should print help? Similar to what https://github.com/so-fancy/diff-so-fancy/pull/218 is printing.

[2017-03-05 15:49] britter commented on #203
@scottchiefbaker the problem still exists with version 0.11.4. The commit causing the problem is apache/commons-lang@86a5960. Maybe the problem is caused because our files were broken before and we fixed them in said commit?